# Introduction To R Syntax

In [ ]:
# HOW it works

# Calculate 3 + 4
print (3 + 4)

# Calculate 6 + 12
print (6 +12 )

In [ ]:
# Arithmetic with R

# An addition
5 + 5 

# A subtraction
5 - 5 

# A multiplication
3 * 5

 # A division
(5 + 5) / 2 

# Exponentiation
2^5

# Modulo
28%%6

In [ ]:
# Variable assignment

# Assign the value 42 to x
x <- 42

# Print out the value of the variable x
x

In [ ]:
# Assign a value to the variables my_apples and my_oranges
my_apples <- 5
my_oranges <- 6

# Add these two variables together
print (my_oranges + my_apples)

# Create the variable my_fruit
my_fruit <- my_oranges + my_apples

In [ ]:
# Basic data types in R

# Change my_numeric to be 42


# Change my_character to be "universe"


# Change my_logical to be FALSE

In [ ]:
# What's that data type?

# Declare variables of different types
my_numeric <- 42
my_character <- "universe"
my_logical <- FALSE 

# Check class of my_numeric
class(my_numeric)

# Check class of my_character
class(my_character)

# Check class of my_logical
class(my_logical)

## Create a vector

* Vectors are one-dimension arrays that can hold numeric data, character data, or logical data. In other words, a vector is a simple tool to store data.

* For example, you can store your daily gains and losses in the casinos.

* In R, you create a vector with the combine function c().

* You place the vector elements separated by a comma between the parentheses.

In [ ]:
# Create a vector

numeric_vector <- c(1, 10, 49)
character_vector <- c("a", "b", "c")

# Complete the code for boolean_vector
boolean_vector <- c(TRUE, FALSE ,TRUE)

# Vectors in R

## Naming a vector

* You can give a name to the elements of a vector with the names() function. Have a look at this example:
```
some_vector <- c("John Doe", "poker player")
names(some_vector) <- c("Name", "Profession")

```
* This code first creates a vector some_vector and then gives the two elements a name.
* The first element is assigned the name Name, while the second element is labeled Profession. Printing the contents to the console yields following output:
```
          Name     Profession 
    "John Doe" "poker player" 

### Sum vectors -

* sum()

### Vector selection

* Index start with 1.

### Select multiple Vectors

* poker_vector[c(2,3,4)]

### Caculating average

* mean()

### Logical Operator
```
< for less than
> for greater than
<= for less than or equal to
>= for greater than or equal to
== for equal to each other
!= not equal to each other
```

In [ ]:
# Naming a vector

# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)

# Assign days as names of poker_vector
names(poker_vector) <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
 
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")

In [ ]:
# Assign the names of the day to roulette_vector and poker_vector using days_vector

In [ ]:
# Adding 2 vectors

A_vector <- c(1, 2, 3)
B_vector <- c(4, 5, 6)

# Take the sum of A_vector and B_vector
total_vector <- A_vector + B_vector
  
# Print out total_vector
print(total_vector)

In [ ]:
# Total winnings with poker
total_poker <- _________

# Total winnings with roulette
total_roulette <- _________

# Total winnings overall
total_week <- _________ + _________

# Print out total_week
total_week


poker_wednesday <- poker_vector[3]
poker_wednesday

In [ ]:
# Check if total_poker is larger than total_roulette
print(_________)

In [ ]:
# assign poker winning on Wednesday from poker_vector
poker_wednesday _______
poker_wednesday

In [ ]:
# Define a new variable based on a selection of Tuesday, Wednesday, Thursday
poker_midweek ________________
poker_midweek

In [ ]:
# multiple values, select from Tuesday to Friday with slicing roulette_vector
roulette_selection_vector ___________
roulette_selection_vector

In [ ]:
# Calculate the average of the elements in roulette_selection_vector

In [ ]:
# Which days did you earn money on poker? (Hint: Use poker_vector)
selection_vector <- _________
  
# Print out selection_vector
print(selection_vector)

In [ ]:
# Selection by comparison 

# Select from poker_vector these days
poker_winning_days <- poker_vector[selection_vector]
poker_winning_days

In [ ]:
# boolean indexing: do the same thing as above with one line of code

# Matrix in R

* In R, a matrix is a collection of elements of the same data type (numeric, character, or logical) arranged into a fixed number of rows and columns.
* Since you are only working with rows and columns, a matrix is called two-dimensional.

```
matrix(1:9, byrow = TRUE, nrow = 3)
```

#### In the matrix() function:

* The first argument is the collection of elements that R will arrange into the rows and columns of the matrix. Here, we use 1:9 which is a shortcut for c(1, 2, 3, 4, 5, 6, 7, 8, 9).

* The argument byrow indicates that the matrix is filled by the rows. If we want the matrix to be filled by the columns, we just place byrow = FALSE.

* The third argument nrow indicates that the matrix should have three rows.

### Naming a matrix

Similar to vectors, you can add names for the rows and the columns of a matrix

```
rownames(my_matrix) <- row_names_vector
colnames(my_matrix) <- col_names_vector
```

### Logical operation in Matrix

* All operation possible with matrix like ->  + , - , * , / 
* matrix with matrix operation is also possible

In [ ]:
# Box office Star Wars (in millions!)
new_hope <- c(460.998, 314.4)
empire_strikes <- c(290.475, 247.900)
return_jedi <- c(309.306, 165.8)

In [ ]:
# Create box_office using three vectors
box_office <- 
box_office

In [ ]:
# Construct star_wars_matrix from box_office (byrow, default = FALSE)
star_wars_matrix <-
star_wars_matrix

In [ ]:
# Vectors region and titles, used for naming
region <- c("US", "non-US")
titles <- c("A New Hope", "The Empire Strikes Back", "Return of the Jedi")

In [ ]:
# Name the columns with region

In [ ]:
# Name the rows with titles

In [ ]:
# Print out star_wars_matrix
print(star_wars_matrix)

In [ ]:
# sum of the total matrix row wise rowSums
# sum of the total matrix column wise colSums

# Construct star_wars_matrix using dimnames
box_office <- c(460.998, 314.4, 290.475, 247.900, 309.306, 165.8)
star_wars_matrix <- ____(____, nrow = __, ___ = ___,
                           ____ = list(c("A New Hope", "The Empire Strikes Back", "Return of the Jedi"), 
                                           c("US", "non-US")))

In [ ]:
# Calculate worldwide box office figures using rowSums
worldwide_vector <- _____
worldwide_vector

In [ ]:
# Compare box office figures between US and non-US
us_nonus_vector <- 
us_nonus_vector

In [ ]:
# Bind the new variable worldwide_vector as a column to star_wars_matrix
all_wars_matrix <- ____(____,____)
all_wars_matrix

In [ ]:
# Construct a new star_wars_matrix
box_office2 <- c(474.5, 552.5, 310.7, 338.7, 380.3, 468.5)
star_wars_matrix2 <- matrix(______, ___ = __, ___ = ___,
                           dimnames = list(c("The Phantom Menace", "Attack of the Clones", "Revenge of the Sith"), 
                                           c("US", "non-US")))

In [ ]:
star_wars_matrix2

In [ ]:
# Combine both Star Wars trilogies in one matrix
all_wars_matrix <- 
all_wars_matrix

In [ ]:
# Select the non-US revenue for all movies
non_us_all <- 
non_us_all

In [ ]:
# Average non-US revenue

In [ ]:
# Select the non-US revenue for first two movies
non_us_some <-

In [ ]:
# Average non-US revenue for first two movies

# What's a factor and why would you use it ?

* The term factor refers to a statistical data type used to store categorical variables. The difference between a categorical variable and a continuous variable is that a categorical variable can belong to a **limited number of categories**. A continuous variable, on the other hand, can correspond to an infinite number of values.

***

* It is important that R knows whether it is dealing with a continuous or a categorical variable, as the statistical models you will develop in the future treat both types differently.

***

* A good example of a categorical variable is the variable 'Gender'. A human individual can either be "Male" or "Female", making abstraction of inter-sexes. So here "Male" and "Female" are, in a simplified sense, the two values of the categorical variable "Gender", and every observation can be assigned to either the value "Male" of "Female".

In [ ]:
# # Gender vector
gender_vector <- c("Male", "Female", "Female", "Male", "Male")

# Convert gender_vector to a factor
factor_gender_vector <- _____(gender_vector)

# Print out factor_gender_vector
print(factor_gender_vector)

***
* There are two types of categorical variables: a nominal categorical variable and an ordinal categorical variable.
***
* A nominal variable is a categorical variable without an implied order. This means that it is impossible to say that 'one is worth more than the other'. For example, think of the categorical variable animals_vector with the categories "Elephant", "Giraffe", "Donkey" and "Horse". Here, it is impossible to say that one stands above or below the other. (Note that some of you might disagree ;-) ).
***
* In contrast, ordinal variables do have a natural ordering. Consider for example the categorical variable temperature_vector with the categories: "Low", "Medium" and "High". Here it is obvious that "Medium" stands above "Low", and "High" stands above "Medium".

In [ ]:
# Animals
animals_vector <- c("Elephant", "Giraffe", "Donkey", "Horse")
factor_animals_vector <- ____(_____)
print(factor_animals_vector)

In [ ]:
# Temperature
temperature_vector <- c("High", "Low", "High","Low", "Medium")
factor_temperature_vector <- ____(____________, ____ = ____, levels = ___(____,____,____))
print(factor_temperature_vector)

In [ ]:
factor_temperature_vector2 <- factor(temperature_vector, order = TRUE)
print(factor_temperature_vector2)

### Factor levels

* A good illustration is the raw data that is provided to you by a survey. A standard question for every questionnaire is the gender of the respondent. You remember from the previous question that this is a factor and when performing the questionnaire on the streets its levels are often coded as "M" and "F".
***
```
survey_vector <- c("M", "F", "F", "M", "M")
```
* Next, when you want to start your data analysis, your main concern is to keep a nice overview of all the variables and what they mean. At that point, you will often want to change the factor levels to "Male" and "Female" instead of "M" and "F" to make your life easier.
***
* Watch out: the order with which you assign the levels is important. If you type levels(factor_survey_vector), you'll see that it outputs [1] "F" "M". If you don't specify the levels of the factor when creating the vector, R will automatically assign them alphabetically. To correctly map "F" to "Female" and "M" to "Male", the levels should be set to c("Female", "Male"), in this order order.

In [ ]:
# Code to build factor_survey_vector
survey_vector <- c("M", "F", "F", "M", "M")
factor_survey_vector <- ____(____)
print(factor_survey_vector)

In [ ]:
# Specify the levels of factor_survey_vector
levels(factor_survey_vector) <- c("Female","Male")
print(factor_survey_vector)

### Summarizing a factor

variable:
```
summary(my_var)
```
* Going back to our survey, you would like to know how many "Male" responses you have in your study, and how many "Female" responses. The summary() function gives you the answer to this question.

In [ ]:
# Build factor_survey_vector with clean levels
survey_vector <- c("M", "F", "F", "M", "M")
factor_survey_vector <- 
levels(factor_survey_vector) <- c("Female", "Male")
factor_survey_vector

In [ ]:
# Generate summary for survey_vector
____(survey_vector)

In [ ]:
# Generate summary for factor_survey_vector
____(factor_survey_vector)

In [ ]:
# Build factor_survey_vector with clean levels
survey_vector <- c("M", "F", "F", "M", "M")
factor_survey_vector <- factor(survey_vector)

In [ ]:
factor_survey_vector

In [ ]:
levels(factor_survey_vector)

In [ ]:
levels(factor_survey_vector) <- c("Female", "Male")

In [ ]:
# Male
male <- factor_survey_vector[1]

In [ ]:
# Female
female <- factor_survey_vector[2]

In [ ]:
# Battle of the sexes: Male 'larger' than female?
male > female

### Ordered factors
***
* Since "Male" and "Female" are unordered (or nominal) factor levels, R returns a warning message, telling you that the greater than operator is not meaningful. As seen before, R attaches an equal value to the levels for such factors.
***
* But this is not always the case! Sometimes you will also deal with factors that do have a natural ordering between its categories. If this is the case, we have to make sure that we pass this information to R...
***

* Let us say that you are leading a research team of five data analysts and that you want to evaluate their performance. To do this, you track their speed, evaluate each analyst as "slow", "fast" or "insane", and save the results in speed_vector.
***

* By default, the function **factor() transforms speed_vector into an unordered factor**. To create an ordered factor, you have to add two additional arguments: **ordered and levels**.

```
factor(some_vector,
       ordered = TRUE,
       levels = c("lev1", "lev2" ...))
```

In [ ]:
# Create speed_vector
speed_vector <- c("fast", "slow", "slow", "fast", "insane")

In [ ]:
# Convert speed_vector to ordered factor vector
factor_speed_vector <- factor(speed_vector,____= TRUE,____=____("slow", "fast", "insane"))

In [ ]:
# Print factor_speed_vector
factor_speed_vector
summary(factor_speed_vector)

In [ ]:
# Comparing ordered factors
# Create factor_speed_vector
speed_vector <- c("fast", "slow", "slow", "fast", "insane")
factor_speed_vector <-

In [ ]:
# Factor value for second data analyst
da2 <- factor_speed_vector[2]

In [ ]:
# Factor value for fifth data analyst
da5 <- factor_speed_vector[5]

In [ ]:
# Is data analyst 2 faster than data analyst 5?
da2 > da5

# Dataframes in R

* A data frame has the variables of a data set as columns and the observations as rows.

* head and tail of a dataframe - 
```
head(mtcars)
tail(mtcars)
```

* structure of dataframe - get a rapid overview of your data is the function str(). The function str() shows you the structure of your data set. 
```
str(mtcars)
```

In [ ]:
# Create a Dataframe

# Definition of vectors
name <- c("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune")
type <- c("Terrestrial planet", "Terrestrial planet", "Terrestrial planet", 
          "Terrestrial planet", "Gas giant", "Gas giant", "Gas giant", "Gas giant")
diameter <- c(0.382, 0.949, 1, 0.532, 11.209, 9.449, 4.007, 3.883)
rotation <- c(58.64, -243.02, 1, 1.03, 0.41, 0.43, -0.72, 0.67)
rings <- c(FALSE, FALSE, FALSE, FALSE, TRUE, TRUE, TRUE, TRUE)

In [ ]:
# Create a data frame from the vectors
planets_df <- 
planets_df
print(planets_df)

In [ ]:
# check the structure of planets_df
____(planets_df)

In [ ]:
# Print out diameter of Mercury (row 1, column 3)

In [ ]:
# Print out data for Mars (entire fourth row)

In [ ]:
# Select a dataframe with columns name

# Select first 5 values of diameter column
## Try two different ways

* However, there is a short-cut. If your columns have names, you can use the $ sign

In [ ]:
# Select the rings variable from planets_df
## Try two different ways

In [ ]:
# Adapt the code to select all columns for planets with rings

In [ ]:
# Adapt the code to select all columns for planets with rings

In [ ]:
rings_vector

In [ ]:
# Subset in dataframes

# Select planets with diameter < 1

In [ ]:
# Select planets with a ring < 1, use subset()

In [ ]:
# Sorting
a <- c(100, 10, 1000)
order(a)

In [ ]:
# Use order() to create positions for diameter
positions <-  
positions

In [ ]:
# Use positions to sort planets_df in the order of diameter

* **Vectors** (one dimensional array): can hold numeric, character or logical values. The elements in a vector all have the same data type.
***
* **Matrices** (two dimensional array): can hold numeric, character or logical values. The elements in a matrix all have the same data type.
***
* **Data frames** (two-dimensional objects): can hold numeric, character or logical values. Within a column all elements have the same data type, but different columns can be of different data type.

# List in R

* A list in R is similar to your to-do list at work or school: the different items on that list most likely differ in length, characteristic, type of activity that has to do be done.
***
* A list in R allows you to gather a variety of objects under one name (that is, the name of the list) in an ordered way. These objects can be matrices, vectors, data frames, even other lists, etc. It is not even required that these objects are related to each other in any way.

In [ ]:
# Creating a List

# Vector with numerics from 1 up to 10
my_vector <- 1:10 

# Matrix with numerics from 1 up to 9
my_matrix <- matrix(1:9, ncol = 3)

# First 10 elements of the built-in data frame mtcars
my_df <- mtcars[1:10,]

In [ ]:
# Construct list with these different elements:
my_list <- 

print(my_list)

### Creating a named list
```
my_list <- list(name1 = your_comp1, 
                name2 = your_comp2)
```

* If you want to name your lists after you've created them, you can use the names() function as you did with vectors. The following commands are fully equivalent to the assignment above:
```
my_list <- list(your_comp1, your_comp2)
names(my_list) <- c("name1", "name2")
```

In [ ]:
# Vector with numerics from 1 up to 10
my_vector <- 1:10

In [ ]:
# 3 by 3 Matrix with numerics from 1 up to 9
my_matrix <-

In [ ]:
# First 10 rows of the built-in data frame mtcars
my_df <-

In [ ]:
# Adapt list() call to give the components names
my_list <- list(my_vector, my_matrix, my_df)
____(___) <- c("vec", "mat", "df")

In [ ]:
# Do the same thing as the above with one line of code

In [ ]:
# Print out my_list
print(my_list)

In [ ]:
# Print out df

# Print the second column of df

In [ ]:
# Do the same thing as the above using $
# Print out df

In [ ]:
# Print the second column of df

In [ ]:
# Print the second row of df

In [ ]:
# print out row names of df

In [ ]:
# print out column names of df

In [ ]:
# Adding more information to the list, year=1980

my_list_full <-
my_list_full

In [ ]:
# comments and scores vectors for movies
scores <- c(4.6, 5, 4.8, 5, 4.2)
comments <- c("I would watch it again", "Amazing!", "I liked it", "One of the best movies", "Fascinating plot")
movie_title <- 'The Departed'
movie_actors <- c("Leonardo DiCaprio", "Matt Damon", "Jack Nicholson", "Mark Wahlberg", "Vera Farmiga", "Martin Sheen")

In [ ]:
# Save the average of the scores vector as avg_review

In [ ]:
# Combine scores and comments into the reviews_df data frame

In [ ]:
# Create and print out a list including all the information, called departed_list
#  containing the movie_title, movie_actors, reviews data frame as reviews_df, and the average review score
departed_list <- 
departed_list

# Conditionals and Control Flow

### Relational operators

In the editor on the right, write R code to see if 

1. TRUE equals FALSE.
2. check if -6 * 14 is not equal to 17 - 101.
3. check if strings "useR" and "user" are equal.
4. check if logicals to numerics: are TRUE and 1 equal?

In [ ]:
# Comparison of logicals


# Comparison of numerics


# Comparison of character strings


# Compare a logical with a numeric

Write R expressions to check whether:

1. -6 * 5 + 2 is greater than or equal to -10 + 1.
2. "raining" is less than or equal to "raining dogs".
3. TRUE is greater than FALSE.

In [ ]:
# Comparison of numerics

# Comparison of character strings

# Comparison of logicals

1. On which days did the number of LinkedIn profile views exceed 15?
2. When was your LinkedIn profile viewed only 5 times or fewer?
3. When was your LinkedIn profile visited more often than your Facebook profile?

In [ ]:
# The linkedin and facebook vectors have already been created for you
linkedin <- c(16, 9, 13, 5, 2, 17, 14)
facebook <- c(17, 7, 5, 16, 8, 13, 14)

# Popular days

# Quiet days

# LinkedIn more popular than Facebook

1. When were the views exactly equal to 13?  
(hint: Use the views matrix to return a logical matrix.)
2. For which days were the number of views less than or equal to 14?  
(hint: Again, have R return a logical matrix.)

In [ ]:
# The social data has been created for you
linkedin <- c(16, 9, 13, 5, 2, 17, 14)
facebook <- c(17, 7, 5, 16, 8, 13, 14)
views <- matrix(c(linkedin, facebook), nrow = 2, byrow = TRUE)

# When does views equal 13?

# When is views less than or equal to 14?

### Logical operators

1. Is last under 5 or above 10?
2. Is last between 15 and 20, excluding 15 but including 20?

In [ ]:
# The linkedin and last variable are already defined for you
linkedin <- c(16, 9, 13, 5, 2, 17, 14)
last <- tail(linkedin, 1)

# Is last under 5 or above 10?

# Is last between 15 (exclusive) and 20 (inclusive)?

1. When did LinkedIn views exceed 10 and did Facebook views fail to reach 10 for a particular day?
2. When were one or both of your LinkedIn and Facebook profiles visited at least 12 times?
3. When is the views matrix equal to a number between 11 and 14, excluding 11 and including 14?

In [ ]:
# linkedin exceeds 10 but facebook below 10

# When were one or both visited at least 12 times?

# When is views between 11 (exclusive) and 14 (inclusive)?

In [ ]:
x <- 5
y <- 7
!(!(x < 4) & !!!(y > 12))

In [ ]:
mtcars

In [ ]:
# Use mtcars

# Select the fourth column, named hp, from mtcars: fourth

In [ ]:
# Build a logical vector, TRUE if value in fourth is extreme: extremes
## Larger than 200 or less than 80

In [ ]:
# Count the number of TRUEs in extremes

### Conditional statements

1. Examine the if statement that prints out "Showing LinkedIn information"   if the medium 
variable equals "LinkedIn".  

2. Code an if statement that prints "You are popular!" to the console  
if the num_views variable exceeds 15.

In [ ]:
# Variables related to your last day of recordings
medium <- "LinkedIn"
num_views <- 14

# Examine the if statement for medium


# Write the if statement for num_views

1. "Unknown medium" gets printed out to the console when the   
if-condition on medium does not hold.
2. R prints out "Try to be more visible!" when the if-condition on   
num_views is not met.

In [ ]:
# Variables related to your last day of recordings
medium <- "LinkedIn"
num_views <- 14

# Control structure for medium





# Control structure for num_views

1. Your number of views is average" is printed if num_views is between 15 (inclusive) and 10(exclusive).   
2. Feel free to change the variables medium and num_views to see how the control structure respond.   
3. In both cases, the existing code should be extended in the else if statement. No existing code should be modified.

In [ ]:
# Variables related to your last day of recordings
medium <- "LinkedIn"
num_views <- 14

# Control structure for medium



# Control structure for num_views

1. If both li and fb are 15 or higher, set sms equal to double the sum of li and fb.  
2. If both li and fb are strictly below 10, set sms equal to half the sum of li and fb.  
3. In all other cases, set sms equal to li + fb.  
4. Finally, print the resulting sms variable to the console.

In [ ]:
# Variables related to your last day of recordings
li <- 15
fb <- 9

# Code the control-flow construct




# Print the resulting sms to the console



# Loops

### Write a while loop

The condition of the while loop should check if speed is higher than 30.  
Inside the body of the while loop, print out "Slow down!".  
Inside the body of the while loop, decrease the speed by 7 units and assign this new value to speed again.   
This step is crucial; otherwise your while loop will never stop and your session will expire.

In [ ]:
# Initialize the speed variable
speed <- 64

# Code the while loop



# Print out the speed variable

If the speed is greater than 48, have R print out "Slow down big time!", and decrease the speed by 11.    
Otherwise, have R simply print out "Slow down!", and decrease the speed by 6.

In [ ]:
# Initialize the speed variable
speed <- 64

# Extend/adapt the while loop

Adapt the while loop such that it is abandoned when the speed of the vehicle is greater than 80.   
This time, the speed variable has been initialized to 88; keep it that way.

In [ ]:
# Initialize the speed variable
speed <- 88

Finish the while loop so that it:  

1. prints out the triple of i, so 3 * i, at each run.  
2. is abandoned with a break if the triple of i is divisible by 8, but still prints out this triple before breaking.

In [ ]:
# Initialize i as 1 
i <- 1

# Code the while loop

### For loop

In [ ]:
## loop over a vector

In [ ]:
primes <- c(2, 3, 5, 7, 11, 13)

# loop version 1
for (p in primes) {
  print(p)
}

# loop version 2
for (i in 1:length(primes)) {
  print(primes[i])
}

In [ ]:
# The linkedin vector has already been defined for you
linkedin <- c(16, 9, 13, 5, 2, 17, 14)

# Loop version 1

In [ ]:
# Loop version 2

In [ ]:
## loop over a list

In [ ]:
# The nyc list is already specified
nyc <- list(pop = 8405837, 
            boroughs = c("Manhattan", "Bronx", "Brooklyn", "Queens", "Staten Island"), 
            capital = FALSE)

# Loop version 1

In [ ]:
# Loop version 2

In [ ]:
## loop over a matrix

In [ ]:
# Matrix with numerics from 1 up to 9
my_matrix <- matrix(1:9, ncol = 3)

In [ ]:
# define the double for loop

1. If the vector element's value exceeds 10, print out "You're popular!".   
2. If the vector element's value does not exceed 10, print out "Be more visible!"

In [ ]:
# The linkedin vector has already been defined for you
linkedin <- c(16, 9, 13, 5, 2, 17, 14)

# Code the for loop with conditionals
for (li in linkedin) {
  if (li > 10) {
    print("You're popular!")
  } else {
    print("Be more visible!")
    
  }
  print(li)
}

* The break statement abandons the active loop:   
* the remaining code in the loop is skipped and the loop is not iterated over anymore.  
* The next statement skips the remainder of the code in the loop,   
* but continues the iteration.

If the vector element's value exceeds 16, print out "This is ridiculous, I'm outta here!"   
and have R abandon the for loop (break).
If the value is lower than 5, print out "This is too embarrassing!" and   
fast-forward to the next iteration (next).

In [ ]:
# The linkedin vector has already been defined for you
linkedin <- c(16, 9, 13, 5, 2, 17, 14)

# Adapt/extend the for loop
for (li in linkedin) {

    
    
  
  # Add if statement with break

    
    
    
  # Add if statement with next

  
  print(li)
}

1. Initialize the variable rcount, as 0.  
2. Finish the for loop:  
3. if char equals "r", increase the value of rcount by 1.    
4. if char equals "u", leave the for loop entirely with a break.  
5. print out the variable rcount to the console to see if your code is correct.

In [ ]:
# Pre-defined variables
rquote <- "r's internals are irrefutably intriguing"
chars <- strsplit(rquote, split = "")[[1]]

# Initialize rcount
rcount <- 0

# Finish the for loop




# Print out rcount