# Introduction To R Syntax

In [1]:
# HOW it works

# Calculate 3 + 4
print (3 + 4)

# Calculate 6 + 12
print (6 +12 )

[1] 7
[1] 18

In [5]:
# Arithmetic with R

# An addition
5 + 5 

# A subtraction
5 - 5 

# A multiplication
3 * 5

 # A division
(5 + 5) / 2 

# Exponentiation
2^5

# Modulo
28%%6

[1] 10

[1] 0

[1] 15

[1] 5

[1] 32

[1] 4

In [6]:
# Variable assignment

# Assign the value 42 to x
x <- 42

# Print out the value of the variable x
x

[1] 42

In [7]:
# Assign a value to the variables my_apples and my_oranges
my_apples <- 5
my_oranges <- 6

# Add these two variables together
print (my_oranges + my_apples)

# Create the variable my_fruit
my_fruit <- my_oranges + my_apples

[1] 11

In [8]:
# Basic data types in R

# Change my_numeric to be 42
my_numeric <- 42

# Change my_character to be "universe"
my_character <- "universe"

# Change my_logical to be FALSE
my_logical <- FALSE

In [9]:
# What's that data type?

# Declare variables of different types
my_numeric <- 42
my_character <- "universe"
my_logical <- FALSE 

# Check class of my_numeric
class(my_numeric)

# Check class of my_character
class(my_character)

# Check class of my_logical
class(my_logical)

[1] "numeric"

[1] "character"

[1] "logical"

## Create a vector

* Vectors are one-dimension arrays that can hold numeric data, character data, or logical data. In other words, a vector is a simple tool to store data.

* For example, you can store your daily gains and losses in the casinos.

* In R, you create a vector with the combine function c().

* You place the vector elements separated by a comma between the parentheses.

In [10]:
# Create a vector

numeric_vector <- c(1, 10, 49)
character_vector <- c("a", "b", "c")

# Complete the code for boolean_vector
boolean_vector <- c(TRUE, FALSE ,TRUE)

# Vectors in R

## Naming a vector

* You can give a name to the elements of a vector with the names() function. Have a look at this example:
```
some_vector <- c("John Doe", "poker player")
names(some_vector) <- c("Name", "Profession")

```
* This code first creates a vector some_vector and then gives the two elements a name.
* The first element is assigned the name Name, while the second element is labeled Profession. Printing the contents to the console yields following output:
```
          Name     Profession 
    "John Doe" "poker player" 

### Sum vectors -

* sum()

### Vector selection

* Index start with 1.

### Select multiple Vectors

* poker_vector[c(2,3,4)]

### Caculating average

* mean()

### Logical Operator
```
< for less than
> for greater than
<= for less than or equal to
>= for greater than or equal to
== for equal to each other
!= not equal to each other
```

In [13]:
# Naming a vector

# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)

# Assign days as names of poker_vector
names(poker_vector) <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
 
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
 
# Assign the names of the day to roulette_vector and poker_vector
names(poker_vector) <-  days_vector
names(roulette_vector) <-  days_vector

print(poker_vector)
print(roulette_vector)

   Monday   Tuesday Wednesday  Thursday    Friday
      140       -50        20      -120       240
   Monday   Tuesday Wednesday  Thursday    Friday
      -24       -50       100      -350        10

In [14]:
# Adding 2 vectors

A_vector <- c(1, 2, 3)
B_vector <- c(4, 5, 6)

# Take the sum of A_vector and B_vector
total_vector <- A_vector + B_vector
  
# Print out total_vector
print(total_vector)

[1] 5 7 9

In [15]:
# Total winnings with poker
total_poker <- sum(poker_vector)

# Total winnings with roulette
total_roulette <- sum(roulette_vector)

# Total winnings overall
total_week <- total_poker + total_roulette

# Print out total_week
total_week

[1] -84

In [16]:
# Check if total_poker is larger than total_roulette
print(total_poker > total_roulette)

[1] TRUE

In [17]:
# assign poker winning on Wednesday from poker_vector
poker_wednesday <- poker_vector[3]
poker_wednesday

Wednesday
       20

In [18]:
# Define a new variable based on a selection of Tuesday, Wednesday, Thursday
poker_midweek <- poker_vector[c(2,3,4)]
poker_midweek

  Tuesday Wednesday  Thursday
      -50        20      -120

In [20]:
# multiple values, select from Tuesday to Friday with slicing roulette_vector
roulette_selection_vector <- roulette_vector[2:5]
roulette_selection_vector

  Tuesday Wednesday  Thursday    Friday
      -50       100      -350        10

In [21]:
# Calculate the average of the elements in roulette_selection_vector
mean(roulette_selection_vector)

[1] -72.5

In [22]:
# Which days did you earn money on poker? (Hint: Use poker_vector)
selection_vector <- poker_vector > 0
  
# Print out selection_vector
print(selection_vector)

   Monday   Tuesday Wednesday  Thursday    Friday
     TRUE     FALSE      TRUE     FALSE      TRUE

In [23]:
# Selection by comparison 

# Select from poker_vector these days
poker_winning_days <- poker_vector[selection_vector]
poker_winning_days

   Monday Wednesday    Friday
      140        20       240

In [ ]:
# boolean indexing: do the same thing as above with one line of code

In [25]:
poker_winning_days <- poker_vector[poker_vector>0]

print(poker_winning_days)

   Monday Wednesday    Friday
      140        20       240

# Matrix in R

* In R, a matrix is a collection of elements of the same data type (numeric, character, or logical) arranged into a fixed number of rows and columns.
* Since you are only working with rows and columns, a matrix is called two-dimensional.

```
matrix(1:9, byrow = TRUE, nrow = 3)
```

#### In the matrix() function:

* The first argument is the collection of elements that R will arrange into the rows and columns of the matrix. Here, we use 1:9 which is a shortcut for c(1, 2, 3, 4, 5, 6, 7, 8, 9).

* The argument byrow indicates that the matrix is filled by the rows. If we want the matrix to be filled by the columns, we just place byrow = FALSE.

* The third argument nrow indicates that the matrix should have three rows.

### Naming a matrix

Similar to vectors, you can add names for the rows and the columns of a matrix

```
rownames(my_matrix) <- row_names_vector
colnames(my_matrix) <- col_names_vector
```

### Logical operation in Matrix

* All operation possible with matrix like ->  + , - , * , / 
* matrix with matrix operation is also possible

In [26]:
# Box office Star Wars (in millions!)
new_hope <- c(460.998, 314.4)
empire_strikes <- c(290.475, 247.900)
return_jedi <- c(309.306, 165.8)

In [27]:
# Create box_office
box_office <- c(new_hope, empire_strikes, return_jedi)
box_office

[1] 460.998 314.400 290.475 247.900 309.306 165.800

In [28]:
# Construct star_wars_matrix (byrow, default = FALSE)
star_wars_matrix <- matrix(box_office, byrow=TRUE, nrow=3)
star_wars_matrix

     [,1]    [,2]
[1,] 460.998 314.4
[2,] 290.475 247.9
[3,] 309.306 165.8

In [29]:
# Box office Star Wars (in millions!)
new_hope <- c(460.998, 314.4)
empire_strikes <- c(290.475, 247.900)
return_jedi <- c(309.306, 165.8)

In [30]:
# Construct matrix
star_wars_matrix <- matrix(c(new_hope, empire_strikes, return_jedi), nrow = 3, byrow = TRUE)

In [31]:
# Vectors region and titles, used for naming
region <- c("US", "non-US")
titles <- c("A New Hope", "The Empire Strikes Back", "Return of the Jedi")

In [32]:
# Name the columns with region
colnames(star_wars_matrix) <- region

In [33]:
# Name the rows with titles
rownames(star_wars_matrix) <- titles

In [34]:
# Print out star_wars_matrix
print(star_wars_matrix)

                             US non-US
A New Hope              460.998  314.4
The Empire Strikes Back 290.475  247.9
Return of the Jedi      309.306  165.8

In [35]:
# sum of the total matrix row wise rowSums
# sum of the total matrix column wise colSums

# Construct star_wars_matrix
box_office <- c(460.998, 314.4, 290.475, 247.900, 309.306, 165.8)
star_wars_matrix <- matrix(box_office, nrow = 3, byrow = TRUE,
                           dimnames = list(c("A New Hope", "The Empire Strikes Back", "Return of the Jedi"), 
                                           c("US", "non-US")))

In [40]:
# Calculate worldwide box office figures
worldwide_vector <- rowSums(star_wars_matrix)
worldwide_vector

             A New Hope The Empire Strikes Back      Return of the Jedi
                775.398                 538.375                 475.106

In [41]:
# Compare box office figures between US and non-US
us_nonus_vector <- colSums(star_wars_matrix)
us_nonus_vector

      US   non-US
1060.779  728.100

In [42]:
# Adding a column in Matrix

# Construct star_wars_matrix
box_office <- c(460.998, 314.4, 290.475, 247.900, 309.306, 165.8)
star_wars_matrix <- matrix(box_office, nrow = 3, byrow = TRUE,
                           dimnames = list(c("A New Hope", "The Empire Strikes Back", "Return of the Jedi"), 
                                           c("US", "non-US")))

In [43]:
# The worldwide box office figures
worldwide_vector <- rowSums(star_wars_matrix)

In [45]:
# Bind the new variable worldwide_vector as a column to star_wars_matrix
all_wars_matrix <- cbind(star_wars_matrix,worldwide_vector)
all_wars_matrix

                        US      non-US worldwide_vector
A New Hope              460.998 314.4  775.398
The Empire Strikes Back 290.475 247.9  538.375
Return of the Jedi      309.306 165.8  475.106

In [46]:
# Construct star_wars_matrix
box_office <- c(474.5, 552.5, 310.7, 338.7, 380.3, 468.5)
star_wars_matrix2 <- matrix(box_office, nrow = 3, byrow = TRUE,
                           dimnames = list(c("The Phantom Menace", "Attack of the Clones", "Revenge of the Sith"), 
                                           c("US", "non-US")))

In [47]:
star_wars_matrix2

                     US    non-US
The Phantom Menace   474.5 552.5
Attack of the Clones 310.7 338.7
Revenge of the Sith  380.3 468.5

In [48]:
# Combine both Star Wars trilogies in one matrix
all_wars_matrix <- rbind(star_wars_matrix,star_wars_matrix2)
all_wars_matrix

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8
The Phantom Menace      474.500 552.5
Attack of the Clones    310.700 338.7
Revenge of the Sith     380.300 468.5

In [49]:
# Select the non-US revenue for all movies
non_us_all <- all_wars_matrix[,2]
non_us_all

             A New Hope The Empire Strikes Back      Return of the Jedi
                  314.4                   247.9                   165.8
     The Phantom Menace    Attack of the Clones     Revenge of the Sith
                  552.5                   338.7                   468.5

In [50]:
# Average non-US revenue
mean(non_us_all)

[1] 347.9667

In [51]:
# Select the non-US revenue for first two movies
non_us_some <- all_wars_matrix[1:2,2]

In [52]:
# Average non-US revenue for first two movies
mean(non_us_some)

[1] 281.15

# What's a factor and why would you use it ?

* The term factor refers to a statistical data type used to store categorical variables. The difference between a categorical variable and a continuous variable is that a categorical variable can belong to a **limited number of categories**. A continuous variable, on the other hand, can correspond to an infinite number of values.

***

* It is important that R knows whether it is dealing with a continuous or a categorical variable, as the statistical models you will develop in the future treat both types differently.

***

* A good example of a categorical variable is the variable 'Gender'. A human individual can either be "Male" or "Female", making abstraction of inter-sexes. So here "Male" and "Female" are, in a simplified sense, the two values of the categorical variable "Gender", and every observation can be assigned to either the value "Male" of "Female".

In [53]:
# # Gender vector
gender_vector <- c("Male", "Female", "Female", "Male", "Male")

# Convert gender_vector to a factor
factor_gender_vector <- factor(gender_vector)

# Print out factor_gender_vector
print(factor_gender_vector)

[1] Male   Female Female Male   Male
Levels: Female Male

***
* There are two types of categorical variables: a nominal categorical variable and an ordinal categorical variable.
***
* A nominal variable is a categorical variable without an implied order. This means that it is impossible to say that 'one is worth more than the other'. For example, think of the categorical variable animals_vector with the categories "Elephant", "Giraffe", "Donkey" and "Horse". Here, it is impossible to say that one stands above or below the other. (Note that some of you might disagree ;-) ).
***
* In contrast, ordinal variables do have a natural ordering. Consider for example the categorical variable temperature_vector with the categories: "Low", "Medium" and "High". Here it is obvious that "Medium" stands above "Low", and "High" stands above "Medium".

In [50]:
# Animals
animals_vector <- c("Elephant", "Giraffe", "Donkey", "Horse")
factor_animals_vector <- factor(animals_vector)
print(factor_animals_vector)

[1] Elephant Giraffe  Donkey   Horse
Levels: Donkey Elephant Giraffe Horse

In [51]:
# Temperature
temperature_vector <- c("High", "Low", "High","Low", "Medium")
factor_temperature_vector <- factor(temperature_vector, order = TRUE, levels = c("Low", "Medium", "High"))
print(factor_temperature_vector)

[1] High   Low    High   Low    Medium
Levels: Low < Medium < High

In [52]:
factor_temperature_vector2 <- factor(temperature_vector, order = TRUE)
print(factor_temperature_vector2)

[1] High   Low    High   Low    Medium
Levels: High < Low < Medium

### Factor levels

* A good illustration is the raw data that is provided to you by a survey. A standard question for every questionnaire is the gender of the respondent. You remember from the previous question that this is a factor and when performing the questionnaire on the streets its levels are often coded as "M" and "F".
***
```
survey_vector <- c("M", "F", "F", "M", "M")
```
* Next, when you want to start your data analysis, your main concern is to keep a nice overview of all the variables and what they mean. At that point, you will often want to change the factor levels to "Male" and "Female" instead of "M" and "F" to make your life easier.
***
* Watch out: the order with which you assign the levels is important. If you type levels(factor_survey_vector), you'll see that it outputs [1] "F" "M". If you don't specify the levels of the factor when creating the vector, R will automatically assign them alphabetically. To correctly map "F" to "Female" and "M" to "Male", the levels should be set to c("Female", "Male"), in this order order.

In [53]:
# Code to build factor_survey_vector
survey_vector <- c("M", "F", "F", "M", "M")
factor_survey_vector <- factor(survey_vector)
print(factor_survey_vector)

[1] M F F M M
Levels: F M

In [54]:
# Specify the levels of factor_survey_vector
levels(factor_survey_vector) <- c("Female","Male")
print(factor_survey_vector)

[1] Male   Female Female Male   Male
Levels: Female Male

### Summarizing a factor

variable:
```
summary(my_var)
```
* Going back to our survey, you would like to know how many "Male" responses you have in your study, and how many "Female" responses. The summary() function gives you the answer to this question.

In [54]:
# Build factor_survey_vector with clean levels
survey_vector <- c("M", "F", "F", "M", "M")
factor_survey_vector <- factor(survey_vector)
levels(factor_survey_vector) <- c("Female", "Male")
factor_survey_vector

[1] Male   Female Female Male   Male
Levels: Female Male

In [55]:
# Generate summary for survey_vector
summary(survey_vector)

   Length     Class      Mode
        5 character character

In [56]:
# Generate summary for factor_survey_vector
summary(factor_survey_vector)

Female   Male
     2      3

In [58]:
# Build factor_survey_vector with clean levels
survey_vector <- c("M", "F", "F", "M", "M")
factor_survey_vector <- factor(survey_vector)

In [59]:
factor_survey_vector

[1] M F F M M
Levels: F M

In [60]:
levels(factor_survey_vector)

[1] "F" "M"

In [61]:
levels(factor_survey_vector) <- c("Female", "Male")

In [62]:
# Male
male <- factor_survey_vector[1]

In [63]:
# Female
female <- factor_survey_vector[2]

In [64]:
# Battle of the sexes: Male 'larger' than female?
male > female

Warning message in Ops.factor(male, female):
"'>' not meaningful for factors"

[1] NA

### Ordered factors
***
* Since "Male" and "Female" are unordered (or nominal) factor levels, R returns a warning message, telling you that the greater than operator is not meaningful. As seen before, R attaches an equal value to the levels for such factors.
***
* But this is not always the case! Sometimes you will also deal with factors that do have a natural ordering between its categories. If this is the case, we have to make sure that we pass this information to R...
***

* Let us say that you are leading a research team of five data analysts and that you want to evaluate their performance. To do this, you track their speed, evaluate each analyst as "slow", "fast" or "insane", and save the results in speed_vector.
***

* By default, the function **factor() transforms speed_vector into an unordered factor**. To create an ordered factor, you have to add two additional arguments: **ordered and levels**.

```
factor(some_vector,
       ordered = TRUE,
       levels = c("lev1", "lev2" ...))
```

In [65]:
# Create speed_vector
speed_vector <- c("fast", "slow", "slow", "fast", "insane")

In [66]:
# Convert speed_vector to ordered factor vector
factor_speed_vector <- factor(speed_vector,ordered= TRUE,levels=c("slow", "fast", "insane"))

In [67]:
# Print factor_speed_vector
factor_speed_vector
summary(factor_speed_vector)

[1] fast   slow   slow   fast   insane
Levels: slow < fast < insane

  slow   fast insane
     2      2      1

In [68]:
# Comparing ordered factors
# Create factor_speed_vector
speed_vector <- c("fast", "slow", "slow", "fast", "insane")
factor_speed_vector <- factor(speed_vector, ordered = TRUE, levels = c("slow", "fast", "insane"))

In [72]:
# Factor value for second data analyst
da2 <- factor_speed_vector[2]

In [73]:
# Factor value for fifth data analyst
da5 <- factor_speed_vector[5]

In [74]:
# Is data analyst 2 faster than data analyst 5?
da2 > da5

[1] FALSE

# Dataframes in R

* A data frame has the variables of a data set as columns and the observations as rows.

* head and tail of a dataframe - 
```
head(mtcars)
tail(mtcars)
```

* structure of dataframe - get a rapid overview of your data is the function str(). The function str() shows you the structure of your data set. 
```
str(mtcars)
```

In [77]:
# Create a Dataframe

# Definition of vectors
name <- c("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune")
type <- c("Terrestrial planet", "Terrestrial planet", "Terrestrial planet", 
          "Terrestrial planet", "Gas giant", "Gas giant", "Gas giant", "Gas giant")
diameter <- c(0.382, 0.949, 1, 0.532, 11.209, 9.449, 4.007, 3.883)
rotation <- c(58.64, -243.02, 1, 1.03, 0.41, 0.43, -0.72, 0.67)
rings <- c(FALSE, FALSE, FALSE, FALSE, TRUE, TRUE, TRUE, TRUE)

# Create a data frame from the vectors
planets_df <- data.frame(name,type,diameter,rotation,rings)
planets_df
print(planets_df)

  name    type               diameter rotation rings
1 Mercury Terrestrial planet  0.382     58.64  FALSE
2 Venus   Terrestrial planet  0.949   -243.02  FALSE
3 Earth   Terrestrial planet  1.000      1.00  FALSE
4 Mars    Terrestrial planet  0.532      1.03  FALSE
5 Jupiter Gas giant          11.209      0.41   TRUE
6 Saturn  Gas giant           9.449      0.43   TRUE
7 Uranus  Gas giant           4.007     -0.72   TRUE
8 Neptune Gas giant           3.883      0.67   TRUE

     name               type diameter rotation rings
1 Mercury Terrestrial planet    0.382    58.64 FALSE
2   Venus Terrestrial planet    0.949  -243.02 FALSE
3   Earth Terrestrial planet    1.000     1.00 FALSE
4    Mars Terrestrial planet    0.532     1.03 FALSE
5 Jupiter          Gas giant   11.209     0.41  TRUE
6  Saturn          Gas giant    9.449     0.43  TRUE
7  Uranus          Gas giant    4.007    -0.72  TRUE
8 Neptune          Gas giant    3.883     0.67  TRUE

In [78]:
# check the structure of planets_df
str(planets_df)

'data.frame':	8 obs. of  5 variables:
 $ name    : Factor w/ 8 levels "Earth","Jupiter",..: 4 8 1 3 2 6 7 5
 $ type    : Factor w/ 2 levels "Gas giant","Terrestrial planet": 2 2 2 2 1 1 1 1
 $ diameter: num  0.382 0.949 1 0.532 11.209 ...
 $ rotation: num  58.64 -243.02 1 1.03 0.41 ...
 $ rings   : logi  FALSE FALSE FALSE FALSE TRUE TRUE ...

In [79]:
# Print out diameter of Mercury (row 1, column 3)
print(planets_df[1,3])

[1] 0.382

In [80]:
# Print out data for Mars (entire fourth row)
print(planets_df[4,])

  name               type diameter rotation rings
4 Mars Terrestrial planet    0.532     1.03 FALSE

In [81]:
# Select a dataframe with columns name

# Select first 5 values of diameter column
planets_df[1:5,"diameter"]
planets_df[1:5,3]

[1]  0.382  0.949  1.000  0.532 11.209

[1]  0.382  0.949  1.000  0.532 11.209

* However, there is a short-cut. If your columns have names, you can use the $ sign

In [83]:
# Select the rings variable from planets_df
rings_vector <- planets_df[,"rings"]
rings_vector1 <- planets_df$rings
rings_vector
rings_vector1

[1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE

[1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE

In [84]:
# Adapt the code to select all columns for planets with rings
planets_df[rings_vector, "name"]

[1] Jupiter Saturn  Uranus  Neptune
Levels: Earth Jupiter Mars Mercury Neptune Saturn Uranus Venus

In [87]:
# Adapt the code to select all columns for planets with rings
planets_df[rings_vector, ]

  name    type      diameter rotation rings
5 Jupiter Gas giant 11.209    0.41    TRUE
6 Saturn  Gas giant  9.449    0.43    TRUE
7 Uranus  Gas giant  4.007   -0.72    TRUE
8 Neptune Gas giant  3.883    0.67    TRUE

In [35]:
rings_vector

[1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE

In [88]:
# Subset in dataframes

# Select planets with diameter < 1
subset(planets_df,diameter < 1)

  name    type               diameter rotation rings
1 Mercury Terrestrial planet 0.382      58.64  FALSE
2 Venus   Terrestrial planet 0.949    -243.02  FALSE
4 Mars    Terrestrial planet 0.532       1.03  FALSE

In [88]:
# Select planets with a ring < 1
subset(planets_df,rings)
subset(planets_df,subset = rings)

  name    type      diameter rotation rings
5 Jupiter Gas giant 11.209    0.41    TRUE
6 Saturn  Gas giant  9.449    0.43    TRUE
7 Uranus  Gas giant  4.007   -0.72    TRUE
8 Neptune Gas giant  3.883    0.67    TRUE

  name    type      diameter rotation rings
5 Jupiter Gas giant 11.209    0.41    TRUE
6 Saturn  Gas giant  9.449    0.43    TRUE
7 Uranus  Gas giant  4.007   -0.72    TRUE
8 Neptune Gas giant  3.883    0.67    TRUE

In [89]:
# Sorting

a <- c(100, 10, 1000)
order(a)

[1] 2 1 3

In [90]:
# Use order() to create positions
positions <-  order(planets_df$diameter)
positions

[1] 1 4 2 3 8 7 6 5

In [91]:
# Use positions to sort planets_df
planets_df[positions,]

  name    type               diameter rotation rings
1 Mercury Terrestrial planet  0.382     58.64  FALSE
4 Mars    Terrestrial planet  0.532      1.03  FALSE
2 Venus   Terrestrial planet  0.949   -243.02  FALSE
3 Earth   Terrestrial planet  1.000      1.00  FALSE
8 Neptune Gas giant           3.883      0.67   TRUE
7 Uranus  Gas giant           4.007     -0.72   TRUE
6 Saturn  Gas giant           9.449      0.43   TRUE
5 Jupiter Gas giant          11.209      0.41   TRUE

* **Vectors** (one dimensional array): can hold numeric, character or logical values. The elements in a vector all have the same data type.
***
* **Matrices** (two dimensional array): can hold numeric, character or logical values. The elements in a matrix all have the same data type.
***
* **Data frames** (two-dimensional objects): can hold numeric, character or logical values. Within a column all elements have the same data type, but different columns can be of different data type.

# List in R

* A list in R is similar to your to-do list at work or school: the different items on that list most likely differ in length, characteristic, type of activity that has to do be done.
***
* A list in R allows you to gather a variety of objects under one name (that is, the name of the list) in an ordered way. These objects can be matrices, vectors, data frames, even other lists, etc. It is not even required that these objects are related to each other in any way.

In [92]:
# Creating a List

# Vector with numerics from 1 up to 10
my_vector <- 1:10 

# Matrix with numerics from 1 up to 9
my_matrix <- matrix(1:9, ncol = 3)

# First 10 elements of the built-in data frame mtcars
my_df <- mtcars[1:10,]

# Construct list with these different elements:
my_list <- list(my_vector, my_matrix ,my_df )

print(my_list)

[[1]]
 [1]  1  2  3  4  5  6  7  8  9 10

[[2]]
     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

[[3]]
                   mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360        14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D         24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230          22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280          19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4

### Creating a named list
```
my_list <- list(name1 = your_comp1, 
                name2 = your_comp2)
```

* If you want to name your lists after you've created them, you can use the names() function as you did with vectors. The following commands are fully equivalent to the assignment above:
```
my_list <- list(your_comp1, your_comp2)
names(my_list) <- c("name1", "name2")
```

In [93]:
# Vector with numerics from 1 up to 10
my_vector <- 1:10

In [94]:
# Matrix with numerics from 1 up to 9
my_matrix <- matrix(1:9, ncol = 3)

In [95]:
# First 10 elements of the built-in data frame mtcars
my_df <- mtcars[1:10,]

In [96]:
# Adapt list() call to give the components names
my_list <- list(my_vector, my_matrix, my_df)
names(my_list) <- c("vec", "mat", "df")

In [97]:
# Do the same thing as the above with one line of code
my_list <- list(vec = my_vector, mat = my_matrix, df = my_df)

In [98]:
# Print out my_list
print(my_list)

$vec
 [1]  1  2  3  4  5  6  7  8  9 10

$mat
     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

$df
                   mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360        14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D         24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230          22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280          19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4

In [99]:
# Print out df
print(my_list[["df"]])

# Print the second column of df
print(my_list[["df"]][2])

                   mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360        14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D         24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230          22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280          19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4
                  cyl
Mazda RX4           6
Mazda RX4 Wag       6
Datsun 710          4
Hornet 4 Drive      6
Hornet Sportabout   8
Valiant             6
Duster 360          8
Merc 240D           4
Merc 230            4
Merc 280            6

In [100]:
# Do the same thing as the above using $
# Print out df
print(my_list$df)

                   mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360        14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D         24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230          22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280          19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4

In [101]:
# Print the second column of df
print(my_list$df[2])

                  cyl
Mazda RX4           6
Mazda RX4 Wag       6
Datsun 710          4
Hornet 4 Drive      6
Hornet Sportabout   8
Valiant             6
Duster 360          8
Merc 240D           4
Merc 230            4
Merc 280            6

In [102]:
# Print the second row of df
print(my_list$df[2,])

              mpg cyl disp  hp drat    wt  qsec vs am gear carb
Mazda RX4 Wag  21   6  160 110  3.9 2.875 17.02  0  1    4    4

In [103]:
# print out row names of df
rownames(my_list$df)

 [1] "Mazda RX4"         "Mazda RX4 Wag"     "Datsun 710"
 [4] "Hornet 4 Drive"    "Hornet Sportabout" "Valiant"
 [7] "Duster 360"        "Merc 240D"         "Merc 230"
[10] "Merc 280"

In [104]:
# print out column names of df
colnames(my_list$df)

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

In [105]:
# Adding more information to the list

my_list_full <- c(my_list,year=1980)
my_list_full

$vec
 [1]  1  2  3  4  5  6  7  8  9 10

$mat
     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

$df
                   mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360        14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D         24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230          22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280          19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4

$year
[1] 1980

In [106]:
# comments and scores vectors for movies
scores <- c(4.6, 5, 4.8, 5, 4.2)
comments <- c("I would watch it again", "Amazing!", "I liked it", "One of the best movies", "Fascinating plot")
movie_title <- 'The Departed'
movie_actors <- c("Leonardo DiCaprio", "Matt Damon", "Jack Nicholson", "Mark Wahlberg", "Vera Farmiga", "Martin Sheen")

In [107]:
# Save the average of the scores vector as avg_review 
avg_review <- mean(scores)

In [109]:
# Combine scores and comments into the reviews_df data frame
reviews_df <- data.frame(scores, comments)
print(reviews_df)

  scores               comments
1    4.6 I would watch it again
2    5.0               Amazing!
3    4.8             I liked it
4    5.0 One of the best movies
5    4.2       Fascinating plot

In [110]:
# Create and print out a list including all the information, called departed_list
#  containing the movie_title, movie_actors, reviews data frame as reviews_df, and the average review score
departed_list <- list(movie_title, movie_actors, reviews_df, avg_review)
departed_list

[[1]]
[1] "The Departed"

[[2]]
[1] "Leonardo DiCaprio" "Matt Damon"        "Jack Nicholson"
[4] "Mark Wahlberg"     "Vera Farmiga"      "Martin Sheen"

[[3]]
  scores               comments
1    4.6 I would watch it again
2    5.0               Amazing!
3    4.8             I liked it
4    5.0 One of the best movies
5    4.2       Fascinating plot

[[4]]
[1] 4.72

# Conditionals and Control Flow

### Relational operators

In the editor on the right, write R code to see if 

1. TRUE equals FALSE.
2. check if -6 * 14 is not equal to 17 - 101.
3. check if strings "useR" and "user" are equal.
4. check if logicals to numerics: are TRUE and 1 equal?

In [38]:
# Comparison of logicals
TRUE==FALSE

# Comparison of numerics
-6*17 != 17-101

# Comparison of character strings
'useR' == 'user'

# Compare a logical with a numeric
TRUE==1

[1] FALSE

[1] TRUE

[1] FALSE

[1] TRUE

Write R expressions to check whether:

1. -6 * 5 + 2 is greater than or equal to -10 + 1.
2. "raining" is less than or equal to "raining dogs".
3. TRUE is greater than FALSE.

In [ ]:
# Comparison of numerics
-6 * 5 +2 >= -10 +1

# Comparison of character strings
'raining' <= 'raining dogs'

# Comparison of logicals
TRUE > FALSE

1. On which days did the number of LinkedIn profile views exceed 15?
2. When was your LinkedIn profile viewed only 5 times or fewer?
3. When was your LinkedIn profile visited more often than your Facebook profile?

In [111]:
# The linkedin and facebook vectors have already been created for you
linkedin <- c(16, 9, 13, 5, 2, 17, 14)
facebook <- c(17, 7, 5, 16, 8, 13, 14)

# Popular days
linkedin > 15

# Quiet days
linkedin <=5

# LinkedIn more popular than Facebook
linkedin > facebook

[1]  TRUE FALSE FALSE FALSE FALSE  TRUE FALSE

[1] FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE

[1] FALSE  TRUE  TRUE FALSE FALSE  TRUE FALSE

1. When were the views exactly equal to 13?  
(hint: Use the views matrix to return a logical matrix.)
2. For which days were the number of views less than or equal to 14?  
(hint: Again, have R return a logical matrix.)

In [112]:
# The social data has been created for you
linkedin <- c(16, 9, 13, 5, 2, 17, 14)
facebook <- c(17, 7, 5, 16, 8, 13, 14)
views <- matrix(c(linkedin, facebook), nrow = 2, byrow = TRUE)

# When does views equal 13?
views == 13

# When is views less than or equal to 14?
views <= 14

     [,1]  [,2]  [,3]  [,4]  [,5]  [,6]  [,7]
[1,] FALSE FALSE  TRUE FALSE FALSE FALSE FALSE
[2,] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE

     [,1]  [,2] [,3] [,4]  [,5] [,6]  [,7]
[1,] FALSE TRUE TRUE  TRUE TRUE FALSE TRUE
[2,] FALSE TRUE TRUE FALSE TRUE  TRUE TRUE

### Logical operators

1. Is last under 5 or above 10?
2. Is last between 15 and 20, excluding 15 but including 20?

In [117]:
# The linkedin and last variable are already defined for you
linkedin <- c(16, 9, 13, 5, 2, 17, 14)
last <- tail(linkedin, 1)
print(last)
# Is last under 5 or above 10?
last <5 | last > 10

# Is last between 15 (exclusive) and 20 (inclusive)?
last >15 & last <=20

[1] 14

[1] TRUE

[1] FALSE

1. When did LinkedIn views exceed 10 and did Facebook views fail to reach 10 for a particular day?
2. When were one or both of your LinkedIn and Facebook profiles visited at least 12 times?
3. When is the views matrix equal to a number between 11 and 14, excluding 11 and including 14?

In [113]:
# linkedin exceeds 10 but facebook below 10
linkedin > 10 & facebook < 10

# When were one or both visited at least 12 times?
linkedin >=12 | facebook>=12

# When is views between 11 (exclusive) and 14 (inclusive)?
views > 11 & views <= 14

[1] FALSE FALSE  TRUE FALSE FALSE FALSE FALSE

[1]  TRUE FALSE  TRUE  TRUE FALSE  TRUE  TRUE

     [,1]  [,2]  [,3]  [,4]  [,5]  [,6]  [,7]
[1,] FALSE FALSE  TRUE FALSE FALSE FALSE TRUE
[2,] FALSE FALSE FALSE FALSE FALSE  TRUE TRUE

In [40]:
x <- 5
y <- 7
!(!(x < 4) & !!!(y > 12))

[1] FALSE

In [118]:
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [120]:
# Use mtcars

# Select the fourth column, named hp, from mtcars: fourth
fourth <- mtcars$hp

# Build a logical vector, TRUE if value in fourth is extreme: extremes
## Larger than 200 or less than 80
extremes <- fourth > 200 | fourth < 80

# Count the number of TRUEs in extremes
sum(extremes)

[1] 12

### Conditional statements

1. Examine the if statement that prints out "Showing LinkedIn information"   if the medium 
variable equals "LinkedIn".  

2. Code an if statement that prints "You are popular!" to the console  
if the num_views variable exceeds 15.

In [ ]:
# Variables related to your last day of recordings
medium <- "LinkedIn"
num_views <- 14

# Examine the if statement for medium
if (medium == "LinkedIn") {
  print("Showing LinkedIn information")
}

# Write the if statement for num_views
if (num_views > 15) {
  print('You are popular!')
}

1. "Unknown medium" gets printed out to the console when the   
if-condition on medium does not hold.
2. R prints out "Try to be more visible!" when the if-condition on   
num_views is not met.

In [43]:
# Variables related to your last day of recordings
medium <- "LinkedIn"
num_views <- 14

# Control structure for medium
if (medium == "LinkedIn") {
  print("Showing LinkedIn information")
} else{
  print('Unknown medium')
}




# Control structure for num_views
if (num_views > 15) {
  print("You're popular!")
} else{
  print('Try to be more visible!')
}

[1] "Showing LinkedIn information"
[1] "Try to be more visible!"

1. Your number of views is average" is printed if num_views is between 15 (inclusive) and 10(exclusive).   
2. Feel free to change the variables medium and num_views to see how the control structure respond.   
3. In both cases, the existing code should be extended in the else if statement. No existing code should be modified.

In [ ]:
# Variables related to your last day of recordings
medium <- "LinkedIn"
num_views <- 14

# Control structure for medium
if (medium == "LinkedIn") {
  print("Showing LinkedIn information")
} else if (medium == "Facebook") {
  print('Showing Facebook information')
} else {
  print("Unknown medium")
}

# Control structure for num_views
if (num_views > 15) {
  print("You're popular!")
} else if (num_views <= 15 & num_views > 10) {
  print('Your number of views is average')
} else {
  print("Try to be more visible!")
}

1. If both li and fb are 15 or higher, set sms equal to double the sum of li and fb.  
2. If both li and fb are strictly below 10, set sms equal to half the sum of li and fb.  
3. In all other cases, set sms equal to li + fb.  
4. Finally, print the resulting sms variable to the console.

In [45]:
# Variables related to your last day of recordings
li <- 15
fb <- 9

# Code the control-flow construct
if (li >= 15 & fb >= 15) {
  sms <- 2 * (li + fb)
} else if (li < 10 & fb < 10) {
  sms <- 0.5 * (li + fb)
} else {
  sms <- li + fb
}

# Print the resulting sms to the console
print(sms)

[1] 24



# Loops

### Write a while loop

The condition of the while loop should check if speed is higher than 30.  
Inside the body of the while loop, print out "Slow down!".  
Inside the body of the while loop, decrease the speed by 7 units and assign this new value to speed again.   
This step is crucial; otherwise your while loop will never stop and your session will expire.

In [ ]:
# Initialize the speed variable
speed <- 64

# Code the while loop
while (speed > 30) {
  print('Slow down!')
  speed <- speed - 7
}

# Print out the speed variable
speed

If the speed is greater than 48, have R print out "Slow down big time!", and decrease the speed by 11.    
Otherwise, have R simply print out "Slow down!", and decrease the speed by 6.

In [ ]:
# Initialize the speed variable
speed <- 64

# Extend/adapt the while loop
while (speed > 30) {
  print(paste("Your speed is",speed))
  if (speed > 48) {
    print('Slow down big time!')
    speed <- speed - 11
  } else {
    print("Slow down!")
    speed <- speed - 6
  }
}

Adapt the while loop such that it is abandoned when the speed of the vehicle is greater than 80.   
This time, the speed variable has been initialized to 88; keep it that way.

In [147]:
# Initialize the speed variable
speed <- 88

while (speed > 30) {
  print(paste("Your speed is", speed))
  
  # Break the while loop when speed exceeds 80
  if (speed > 80 ) {
    break
  }
  
  if (speed > 48) {
    print("Slow down big time!")
    speed <- speed - 11
  } else {
    print("Slow down!")
    speed <- speed - 6
  }
}

[1] "Your speed is 88"

Finish the while loop so that it:  

1. prints out the triple of i, so 3 * i, at each run.  
2. is abandoned with a break if the triple of i is divisible by 8, but still prints out this triple before breaking.

In [ ]:
# Initialize i as 1 
i <- 1

# Code the while loop
while (i <= 10) {
  print(3*i)
  if ( (3*i)%%8==0 ) {
    print(3*i)
    break
  }
  i <- i + 1
}

### For loop

In [ ]:
## loop over a vector

In [149]:
primes <- c(2, 3, 5, 7, 11, 13)

# loop version 1
for (p in primes) {
  print(p)
}

# loop version 2
for (i in 1:length(primes)) {
  print(primes[i])
}

[1] 2
[1] 3
[1] 5
[1] 7
[1] 11
[1] 13
[1] 2
[1] 3
[1] 5
[1] 7
[1] 11
[1] 13

In [ ]:
# The linkedin vector has already been defined for you
linkedin <- c(16, 9, 13, 5, 2, 17, 14)

# Loop version 1
for (k in linkedin){
  print(k)
}

In [ ]:
# Loop version 2
for (i in 1:length(linkedin)){
  print(linkedin[i])
}

In [ ]:
## loop over a list

In [ ]:
# The nyc list is already specified
nyc <- list(pop = 8405837, 
            boroughs = c("Manhattan", "Bronx", "Brooklyn", "Queens", "Staten Island"), 
            capital = FALSE)

# Loop version 1
for (p in nyc){
  print(p)
}

In [ ]:
# Loop version 2
for (p in 1:length(nyc)){
  print(nyc[[p]])
}

In [ ]:
## loop over a matrix

In [ ]:
# Matrix with numerics from 1 up to 9
my_matrix <- matrix(1:9, ncol = 3)

In [ ]:
# define the double for loop
for (i in 1:nrow(my_matrix)) {
  for (j in 1:ncol(my_matrix)) {
    print(paste("On row", i, "and column", j, "the number is", my_matrix[i,j]))
  }
}

1. If the vector element's value exceeds 10, print out "You're popular!".   
2. If the vector element's value does not exceed 10, print out "Be more visible!"

In [150]:
# The linkedin vector has already been defined for you
linkedin <- c(16, 9, 13, 5, 2, 17, 14)

# Code the for loop with conditionals
for (li in linkedin) {
  if (li > 10) {
    print("You're popular!")
  } else {
    print("Be more visible!")
    
  }
  print(li)
}

[1] "You're popular!"
[1] 16
[1] "Be more visible!"
[1] 9
[1] "You're popular!"
[1] 13
[1] "Be more visible!"
[1] 5
[1] "Be more visible!"
[1] 2
[1] "You're popular!"
[1] 17
[1] "You're popular!"
[1] 14

In [151]:
# The linkedin vector has already been defined for you
linkedin <- c(16, 9, 13, 5, 2, 17, 14)

# Adapt/extend the for loop
for (li in linkedin) {
  if (li > 10) {
    print("You're popular!")
  } else {
    print("Be more visible!")
  }
  
  # Add if statement with break
  if (li > 16){
    print("This is ridiculous, I'm outta here!")
    break
  }
  
  # Add if statement with next
    if (li < 5){
    print("This is too embarrassing!")
    next
  }
  
  print(li)
}

[1] "You're popular!"
[1] 16
[1] "Be more visible!"
[1] 9
[1] "You're popular!"
[1] 13
[1] "Be more visible!"
[1] 5
[1] "Be more visible!"
[1] "This is too embarrassing!"
[1] "You're popular!"
[1] "This is ridiculous, I'm outta here!"

1. Initialize the variable rcount, as 0.  
2. Finish the for loop:  
3. if char equals "r", increase the value of rcount by 1.    
4. if char equals "u", leave the for loop entirely with a break.  
5. print out the variable rcount to the console to see if your code is correct.

In [123]:
# Pre-defined variables
rquote <- "r's internals are irrefutably intriguing"
chars <- strsplit(rquote, split = "")[[1]]
print(chars)

# Initialize rcount
rcount <- 0

# Finish the for loop
for (char in chars) {
  if (char=='r'){
    rcount <- rcount + 1
  }else if (char=='u'){
    break
  }
  
}

# Print out rcount
print(rcount)

 [1] "r" "'" "s" " " "i" "n" "t" "e" "r" "n" "a" "l" "s" " " "a" "r" "e" " " "i"
[20] "r" "r" "e" "f" "u" "t" "a" "b" "l" "y" " " "i" "n" "t" "r" "i" "g" "u" "i"
[39] "n" "g"
[1] 5