# Lecture 1: Review of the basic python programming

## Review of data type

### (1) List

In [ ]:
import pandas as pd
## Get the babys' name and conver it to list for each of boy and girl
## "baby_names.csv" is available
baby_df = 
# Make a list of girls' name
girl_names = 
# Make a list of boys' name
boy_names = 
# Make a list of boys and girls name by concatenating girls' and boys' names
baby_names =

In [ ]:
# Recreate a list containing the names: baby_names
baby_names = ['Ximena', 'Aliza', 'Ayden', 'Calvin']

# Extend baby_names with 'Rowen' and 'Sandeep'


# Print baby_names


# Find the position of 'Aliza': position
position = 

# Remove 'Aliza' from baby_names


# Print baby_names

In [ ]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

#### Write a code printing the following output
room 0: 11.25  
room 1: 18.0  
room 2: 20.0  
room 3: 10.75  
room 4: 9.5

In [3]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]

#### Write a code printing the following output
the hallway is 11.25 sqm  
the kitchen is 18.0 sqm  
the living room is 20.0 sqm  
the bedroom is 10.75 sqm  
the bathroom is 9.5 sqm

### (2) Tuples

In [ ]:
# Pair up the girl and boy names: pairs
pairs =

#### Write a code printing the following output
Rank 0: GERALDINE and AARAV  
Rank 1: GIA and AARON  
Rank 2: GIANNA and ABDUL  
Rank 3: GISELLE and ABDULLAH  
Rank 4: GRACE and ADAM  
Rank 5: GUADALUPE and ADITYA  
Rank 6: HAILEY and ADRIAN  
Rank 7: HALEY and AHMED  
Rank 8: HANNAH and AIDAN  
Rank 9: HAYLEE and AIDEN

In [ ]:
# Iterate over pairs using enumerate and variable, pairs

In [2]:
## Understand the tuple type
# Create the normal variable: normal
normal = 'simple'
# Create the mistaken variable: error
error = 'trailing comma', 
# Print the types of the variables

### (3) Set

In [ ]:
girl_names_set = set(girl_names)
boy_names_set = set(boy_names)

# Find the union: all_names
all_names_set = 

# Print the count of names in all_names

# Find the intersection: overlapping_names
overlapping_names_set = 

# Print the count of names in overlapping_names

### (4) Dictionary

In [7]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print out the keys in europe


# Print out value that belongs to key 'norway'

In [8]:
# Add italy to europe


# Print out italy in europe


# Add poland to europe


# Print europe

False
{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'poland': 'warsaw'}

In [12]:
# Update capital of england as london, nethaland as amsterdam


# Remove poland


# Print europe

In [ ]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


# Print out the capital of France


# Create sub-dictionary data
data = {'capital':'rome','population':59.83}

# Add data to europe under key 'italy'


# Print europe

In [ ]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn', 
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'australia':'vienna' }

### Print out the following
the capital of spain is madrid  
the capital of france is paris  
the capital of germany is bonn  
the capital of norway is oslo  
the capital of italy is rome  
the capital of poland is warsaw  
the capital of australia is vienna

In [ ]:
# Iterate over europe with key and value

In [ ]:
capital_by_country = {}
## Print the capital name for the revesere alphabetical order of country name
for country, capital in europe.___():
    capital_by_country[___] = ___
for country in sorted(___, ___=___)___: ## up to 4 countries
    print(capital_by_country[country])

In [ ]:
# Where is capital of spain, search it from dictionary, europe

# what is the type

# print capital of Japan or "Not Found"

In [ ]:
## make a dictionary for girls's name from a list, girl_names
# make it as one line of code
# key is the integer from 1
girl_names_dict = 
boy_names_dict = 
# print girls' name from the dictionary

In [ ]:
## Dealing with nested data, year and numbers of products
cookies = {'2017': {'chocolate chip': 483, 'peanut butter': 115}, 
           '2016': {'chocolate chip': 9513, 'peanut butter': 6792}}

In [ ]:
# Print a list of keys from the boy_names dictionary

# Print a list of keys from the boy_names dictionary for the year 2013

### print the following
2017 483  
2016 9513

In [ ]:
# Loop over the dictionary, cookies
# Safely print the year and the number of products or 'Unknown'

In [ ]:
# Import the python csv module.
# Create a Python file object in read mode for baby_names.csv called csvfile with the open function.
# Use the reader method from the csv module on the file object in a for loop. 
# Inside the loop:
#
# Print each row and add the rank (the 6th element of row) as the key and name (the 4th element of row) 
# as the value to the existing dictionary (baby_names).
# Print the keys of baby_names.

In [ ]:
# Import the python CSV module
import csv
# Create a python file object in read mode for the baby_names.csv file: csvfile
csvfile = open('baby_names.csv', 'r')
baby_names = {}
# Loop over a csv reader on the file object

# Print each row 

    # Add the rank and name to the dictionary

# Print the dictionary keys

### (5) Counter

In [ ]:
station_df = pd.read_csv('cta_daily_station_totals.csv')
stations = station_df['stationname'].values.tolist()

In [ ]:
# Import the Counter object from collections module

# Print the first ten items from the stations list

# Create a Counter of the stations list: station_count

# Print the station_count


# Find the 5 most common elements from station_count

In [ ]:
c1  = Counter({'blue': 3, 'red': 2, 'green': 1})
## elements(): Return an iterator over elements repeating each as many times as its count
# print out the element of c1

c2 = Counter("Hello Python")
# print out the element of c2


# print out the sorted element of c2

### (6) Numpy

In [ ]:
# Import numpy as np

In [ ]:
import pandas as pd
# read baseball.csv and save it to baseball
baseball =

In [ ]:
# Glimpse baseball data

In [ ]:
# read baseball.csv with columns, Height, Weight, Age and convert it to numpy array
np_baseball = 

## Print out the type of np_baseball

In [ ]:
# np_baseball is available

# Print mean height (first column)


# Print median height. 
med = ____
print("Median: " + ____)

# Print out the standard deviation on height. 
stddev = ____
print("Standard Deviation: " + ____)

# Print out correlation between first and second column of np_baseball. 
corr = np.____(____,____)
print("Correlation: " + ____)

In [ ]:
# Convert positions and heights to numpy arrays: np_positions, np_heights
positions = 
heights = 
np_positions = 
np_heights = 
# Heights of the goalkeepers: gk_heights
gk_heights = 

# Heights of the other players: other_heights
other_heights = 

# Print out the median height of goalkeepers. Replace 'None'
print("Median height of goalkeepers: " + ____))

# Print out the median height of other players. Replace 'None'
print("Median height of other players: " + ____)

In [14]:
# For loop over np_height
# Print heights of players, For loop over np_baseball
for ___ in ___:
    print(___+" inches")
# Print weights of players, For loop over np_baseball
# use np.diter

NameError: name 'np_heights' is not defined

##  Writing functions, simple algorithms

In [ ]:
## Write a function, calculating the squared sum from 1 to n

In [ ]:
## Write a function calculating the sum from 1 to n
## Use recursive form, with one argument, n

In [ ]:
## Write a function returning nth element of Fibonacci Sequence

In [ ]:
## Write a function returning a list of Fibonacci sequence with length of n

In [ ]:
## Write a function finding the maximum value from a list, find_max
# Use a recursive form
# Hint: Write a code finding the maximu from the list up to nth element
def find_max(srch_list, n):
...

In [ ]:
## Generate 20 random integer between 1 and 100

## print out the array

## Print out the maximum value of the array

In [6]:
## Finding prime numbers up to n, find_primes
def find_primes(n):
...

IndentationError: expected an indented block (<ipython-input-6-65ae03918461>, line 3)

In [ ]:
## Context managers, use of open as file

In [ ]:
# Open "lab.txt" and assign the file to "file"
  text = file.___()
n = 0
## Print out how many word, "brain or Brain" was used in the text
for word in text.___():
  if word.___() in ['brain', 'brains']:
    n += 1

print('I used the word "brain" {} times'.format(n))