## Merging data

In [45]:
import pandas as pd
import numpy as np

In [2]:
revenue = pd.read_csv('revenue.csv')
managers = pd.read_csv('managers.csv')

In [3]:
revenue, managers

(   branch_id         city  revenue
 0         10       Austin      100
 1         20       Denver       83
 2         30  Springfield        4
 3         47    Mendocino      200,    branch_id         city   manager
 0         10       Austin  Charlers
 1         20       Denver      Joel
 2         47    Mendocino     Brett
 3         31  Springfield     Sally)

In [ ]:
# Merge revenue with managers on 'city': merge_by_city
merge_by_city = pd.merge(revenue,managers, on='city')

# Print merge_by_city
print(merge_by_city)

In [ ]:
# Merge revenue with managers on 'branch_id': merge_by_id
merge_by_id = pd.merge(revenue,managers, on='branch_id')

# Print merge_by_id
print(merge_by_id)

when you merge on 'city', the resulting DataFrame has a peculiar result: In row 2, the city Springfield has two different branch IDs. This is because there are actually two different cities named Springfield - one in the State of Illinois, and the other in Missouri. The revenue DataFrame has the one from Illinois, and the managers DataFrame has the one from Missouri. Consequently, when you merge on 'branch_id', both of these get dropped from the merged DataFrame.

In [ ]:
managers = pd.read_csv('managers_b.csv')

In [ ]:
revenue, managers

In [ ]:
### This gives an error
pd.merge(revenue, managers, on='city')

In [ ]:
# Merge revenue & managers on 'city' & 'branch': combined
combined = pd.merge(revenue,managers, left_on='city', right_on='branch')

# Print combined
print(combined)

It is important to pay attention to how columns are 
named in different DataFrames.

In [ ]:
## merging multiple columns

In [ ]:
managers = pd.read_csv('managers.csv')

In [ ]:
# Add 'state' column to revenue: revenue['state']
revenue['state'] = ['TX', 'CO','IL','CA']

# Add 'state' column to managers: managers['state']
managers['state'] = ['TX', 'CO', 'CA', 'MO']

In [ ]:
revenue, managers

In [ ]:
# Merge revenue & managers on 'branch_id', 'city', & 'state': combined
combined = pd.merge(revenue, managers, on=['branch_id','city', 'state'])

# Print combined
print(combined)

In [ ]:
#### Medal DataFrame

In [ ]:
bronze = pd.read_csv('bronze_top5.csv')
gold = pd.read_csv('gold_top5.csv')

In [ ]:
print(bronze)
print(gold)

In [ ]:
## Using suffixes, inner join on 'NOC','Country'
pd.merge(bronze, gold, on=['NOC', 'Country'],suffixes=['_bronze', '_gold'], how='inner')

In [ ]:
## Using suffixes, left join on 'NOC','Country'
pd.merge(bronze, gold, on=['NOC', 'Country'],suffixes=['_bronze', '_gold'], how='left')

In [ ]:
## Using suffixes, right join on 'NOC','Country'
pd.merge(bronze, gold, on=['NOC', 'Country'],suffixes=['_bronze', '_gold'], how='right')

### Population & unemployment data

- two 5 row DF, indexed by Zip Code
- population
- unemployment
- only common row label is 2860

In [ ]:
population = pd.read_csv('population_00.csv', index_col=0)
unemployment = pd.read_csv('unemployment_00.csv', index_col=0)

print(population)
print()
print(unemployment)

### Using .join(how=‘left’)

- computes a left join using the Index by default
- only the row 2860 is complete

In [ ]:
population.join(unemployment)

### Using .join(how=‘right’)

- 2860 row is preserved againg, but the other rows are extrated from the right `unemployment` DF with the left `population` DF values set to Nan

In [ ]:
population.join(unemployment, how='right')

### Using .join(how=‘inner’)

`population.join(unemployment, how='inner')`

In [ ]:
population.join(unemployment, how='inner')

### Using .join(how=‘outer’)

`how='outer'` sorts the combined index

In [ ]:
population.join(unemployment, how='outer')

### Which should you use?
- `df1.append(df2)`: stacking vertically
- `pd.concat([df1, df2])`:
    - stacking many horizontally or vertically
    - simple inner/outer joins on Indexes
- `df1.join(df2)`: inner/outer/le!/right joins on Indexes
- `pd.merge([df1, df2])`: many joins on multiple columns

# Data Cleaning

In [60]:
ride_sharing = pd.read_csv('ride_sharing_new.csv')

In [61]:
# Print the information of ride_sharing
print(ride_sharing.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25760 entries, 0 to 25759
Data columns (total 10 columns):
Unnamed: 0         25760 non-null int64
duration           25760 non-null object
station_A_id       25760 non-null int64
station_A_name     25760 non-null object
station_B_id       25760 non-null int64
station_B_name     25760 non-null object
bike_id            25760 non-null int64
user_type          25760 non-null int64
user_birth_year    25760 non-null int64
user_gender        25760 non-null object
dtypes: int64(6), object(4)
memory usage: 2.0+ MB
None

In [62]:
# Print summary statistics of user_type column
print(ride_sharing['user_type'].describe())

count    25760.000000
mean         2.008385
std          0.704541
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          3.000000
Name: user_type, dtype: float64

In [63]:
# Convert user_type from integer to category
ride_sharing['user_type_cat'] = ride_sharing['user_type'].astype('category')

In [66]:
ride_sharing['user_type_cat']

0        2
1        2
2        3
3        1
4        2
        ..
25755    1
25756    2
25757    2
25758    2
25759    3
Name: user_type_cat, Length: 25760, dtype: category
Categories (3, int64): [1, 2, 3]

In [64]:
# Write an assert statement confirming the change
assert ride_sharing['user_type_cat'].dtype == 'category'

In [ ]:
# Print new summary statistics 
print(ride_sharing['user_type_cat'].describe())

In [ ]:
# Strip duration of minutes
ride_sharing['duration_trim'] = ride_sharing['duration'].str.strip('minutes')

In [ ]:
# Convert duration to integer
ride_sharing['duration_time'] = ride_sharing['duration_trim'].astype('int')

In [ ]:
# Write an assert statement making sure of conversion
assert ride_sharing['duration_time'].dtype == 'int'

In [ ]:
# Print formed columns and calculate average ride duration 
print(ride_sharing[['duration','duration_trim','duration_time']])
print(ride_sharing['duration_time'].mean())

In [ ]:
ride_sharing['user_birth_year']

### Finding consistency

In [29]:
airlines = pd.read_csv('airlines_final.csv')
categories = pd.read_csv('categories.csv')

In [30]:
airlines.head()
categories.head()

      cleanliness           safety          satisfaction
0           Clean          Neutral        Very satisfied
1         Average        Very safe               Neutral
2  Somewhat clean    Somewhat safe    Somewhat satisfied
3  Somewhat dirty      Very unsafe  Somewhat unsatisfied
4    Unacceptable  Somewhat unsafe      Very unsatisfied

In [31]:
categories

      cleanliness           safety          satisfaction
0           Clean          Neutral        Very satisfied
1         Average        Very safe               Neutral
2  Somewhat clean    Somewhat safe    Somewhat satisfied
3  Somewhat dirty      Very unsafe  Somewhat unsatisfied
4    Unacceptable  Somewhat unsafe      Very unsatisfied

In [32]:
airlines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2477 entries, 0 to 2476
Data columns (total 13 columns):
Unnamed: 0       2477 non-null int64
id               2477 non-null int64
day              2477 non-null object
airline          2477 non-null object
destination      2477 non-null object
dest_region      2477 non-null object
dest_size        2477 non-null object
boarding_area    2477 non-null object
dept_time        2477 non-null object
wait_min         2477 non-null float64
cleanliness      2477 non-null object
safety           2477 non-null object
satisfaction     2477 non-null object
dtypes: float64(1), int64(2), object(10)
memory usage: 251.7+ KB

In [33]:
# Print categories DataFrame
print(categories)

# Print unique values of survey columns in airlines
print('Cleanliness: ', airlines['cleanliness'].unique(), "\n")
print('Safety: ', airlines['safety'].unique(), "\n")
print('Satisfaction: ', airlines['satisfaction'].unique(), "\n")

      cleanliness           safety          satisfaction
0           Clean          Neutral        Very satisfied
1         Average        Very safe               Neutral
2  Somewhat clean    Somewhat safe    Somewhat satisfied
3  Somewhat dirty      Very unsafe  Somewhat unsatisfied
4    Unacceptable  Somewhat unsafe      Very unsatisfied
Cleanliness:  ['Clean' 'Average' 'Somewhat clean' 'Somewhat dirty' 'Dirty']

Safety:  ['Neutral' 'Very safe' 'Somewhat safe' 'Very unsafe' 'Somewhat unsafe']

Satisfaction:  ['Very satisfied' 'Neutral' 'Somewhat satsified' 'Somewhat unsatisfied'
 'Very unsatisfied']

In [34]:
# Find the cleanliness category in airlines not in categories
cat_clean = set(airlines['cleanliness']).difference(categories['cleanliness'])

In [35]:
# Find rows with that category
cat_clean_rows = airlines['cleanliness'].isin(cat_clean)

In [36]:
# Print rows with inconsistent category
print(airlines[cat_clean_rows])

      Unnamed: 0    id        day          airline destination  \
511          586  2920   Thursday            DELTA     SEATTLE
1592        1816  2439  Wednesday  AIR NEW ZEALAND    AUCKLAND

                dest_region dest_size boarding_area   dept_time  wait_min  \
511                 West US       Hub   Gates 40-48  2018-12-31     180.0
1592  Australia/New Zealand    Medium  Gates 91-102  2018-12-31     250.0

     cleanliness   safety      satisfaction
511        Dirty  Neutral  Very unsatisfied
1592       Dirty  Neutral           Neutral

In [21]:
# Print rows with consistent categories only
print(airlines[~cat_clean_rows])

      Unnamed: 0    id        day        airline        destination  \
0              0  1351    Tuesday    UNITED INTL             KANSAI
1              1   373     Friday         ALASKA  SAN JOSE DEL CABO
2              2  2820   Thursday          DELTA        LOS ANGELES
3              3  1157    Tuesday      SOUTHWEST        LOS ANGELES
4              4  2992  Wednesday       AMERICAN              MIAMI
...          ...   ...        ...            ...                ...
2472        2804  1475    Tuesday         ALASKA       NEW YORK-JFK
2473        2805  2222   Thursday      SOUTHWEST            PHOENIX
2474        2806  2684     Friday         UNITED            ORLANDO
2475        2807  2549    Tuesday        JETBLUE         LONG BEACH
2476        2808  2162   Saturday  CHINA EASTERN            QINGDAO

        dest_region dest_size boarding_area   dept_time  wait_min  \
0              Asia       Hub  Gates 91-102  2018-12-31     115.0
1     Canada/Mexico     Small   Gates 50-59  2018-12-31     135.0
2           West US       Hub   Gates 40-48  2018-12-31      70.0
3           West US       Hub   Gates 20-39  2018-12-31     190.0
4           East US       Hub   Gates 50-59  2018-12-31     559.0
...             ...       ...           ...         ...       ...
2472        East US       Hub   Gates 50-59  2018-12-31     280.0
2473        West US       Hub   Gates 20-39  2018-12-31     165.0
2474        East US       Hub   Gates 70-90  2018-12-31      92.0
2475        West US     Small    Gates 1-12  2018-12-31      95.0
2476           Asia     Large    Gates 1-12  2018-12-31     220.0

         cleanliness         safety        satisfaction
0              Clean        Neutral      Very satisfied
1              Clean      Very safe      Very satisfied
2            Average  Somewhat safe             Neutral
3              Clean      Very safe  Somewhat satsified
4     Somewhat clean      Very safe  Somewhat satsified
...              ...            ...                 ...
2472  Somewhat clean        Neutral  Somewhat satsified
2473           Clean      Very safe      Very satisfied
2474           Clean      Very safe      Very satisfied
2475           Clean  Somewhat safe      Very satisfied
2476           Clean      Very safe  Somewhat satsified

[2477 rows x 13 columns]

In [37]:
# Print unique values of both columns
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

['Asia' 'Canada/Mexico' 'West US' 'East US' 'Midwest US' 'EAST US'
 'Middle East' 'Europe' 'eur' 'Central/South America'
 'Australia/New Zealand' 'middle east']
['Hub' 'Small' '    Hub' 'Medium' 'Large' 'Hub     ' '    Small'
 'Medium     ' '    Medium' 'Small     ' '    Large' 'Large     ']

In [38]:
# Lower dest_region column and then replace "eur" with "europe"
airlines['dest_region'] = airlines['dest_region'].str.lower() 
airlines['dest_region'] = airlines['dest_region'].replace({'eur':'europe'})

In [39]:
# Remove white spaces from `dest_size`
airlines['dest_size'] = airlines['dest_size'].str.strip()

In [40]:
# Verify changes have been effected
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

['asia' 'canada/mexico' 'west us' 'east us' 'midwest us' 'middle east'
 'europe' 'central/south america' 'australia/new zealand']
['Hub' 'Small' 'Medium' 'Large']

In [46]:
# Create ranges for categories
label_ranges = [0, 60, 180, np.inf]
label_names = ['short', 'medium', 'long']

In [47]:
# Create wait_type column
airlines['wait_type'] = pd.cut(airlines['wait_min'], bins = label_ranges, 
                                labels = label_names)

In [48]:
# Create mappings 
mappings = {'Monday':'weekday', 'Tuesday':'weekday', 'Wednesday': 'weekday', 
            'Thursday': 'weekday', 'Friday': 'weekday', 
            'Saturday': 'weekend', 'Sunday': 'weekend'}

In [49]:
## Then replace the values using mappings
airlines['day_week'] = airlines['day'].replace(mappings)

## Decorators

In [ ]:
import pandas as pd

In [ ]:
def load_data():  
    df = pd.DataFrame()
    df['height'] = [72.1, 69.8, 63.2, 64.7]
    df['weight'] = [198, 204, 164, 238]
    return df

In [ ]:
def mean(data):
    print(data.mean())
def std(data):
    print(data.std())
def minimum(data):
    print(data.min())
def maximum(data):
    print(data.max())

In [ ]:
# Add the missing function references to the function map
function_map = {
  'mean': mean,
  'std': std,
  'minimum': minimum,
  'maximum': maximum
}

data = load_data()
print(data)

In [ ]:

# Call the chosen function and pass "data" as an argument
function_map['mean'](data)
function_map['std'](data)
function_map['minimum'](data)
function_map['maximum'](data)

In [69]:
def has_docstring(func):
    """Check to see if the function 
  `func` has a docstring.

  Args:
    func (callable): A function.

  Returns:
    bool
  """
    return func.__doc__ is not None

In [70]:
def load_and_plot_data(filename):
    """Load a data frame and plot each column.  
    Args:
    filename (str): Path to a CSV file of data.
    Returns:
    pandas.DataFrame  
    """
    df = pd.load_csv(filename, index_col=0)
    df.hist()
    return df

In [71]:
has_docstring(load_and_plot_data)

True

Returning functions for a math game
You are building an educational math game where the player enters a math term, 
and your program returns a function that matches that term. For instance, 
if the user types "add", your program returns a function that adds two numbers

In [ ]:
def create_math_function(func_name):
    if func_name == 'add':
        def add(a, b):
            return a + b
        return add
    elif func_name == 'subtract':
    # Define the subtract() function
        def subtract(a, b):
            return a - b
        return subtract
    else:
        print("I don't know that one")
    
add = create_math_function('add')
print('5 + 2 = {}'.format(add(5, 2)))

subtract = create_math_function('subtract')
print('5 - 2 = {}'.format(subtract(5, 2)))

In [ ]:
## Defining a decorator

In [52]:
def print_before_and_after(func):
    def wrapper(*args):
        print('Before {}'.format(func.__name__))
    # Call the function being decorated with *args
        func(*args)
        print('After {}'.format(func.__name__))
  # Return the nested function
    return wrapper

In [53]:
@print_before_and_after
def multiply(a, b):
    print(a * b)

multiply(5, 10)

Before multiply
50
After multiply

In [54]:
## More examples

In [55]:
def print_return_type(func):
  # Define wrapper(), the decorated function
    def wrapper(*args, **kwargs):
    # Call the function being decorated
        result = func(*args, **kwargs)
        print('{}() returned type {}'.format(
          func.__name__, type(result)
        ))
        return result
  # Return the decorated function
    return wrapper

In [56]:
@print_return_type
def foo(value):
    return value
  
print(foo(42))
print(foo([1, 2, 3]))
print(foo({'a': 42}))

foo() returned type <class 'int'>
42
foo() returned type <class 'list'>
[1, 2, 3]
foo() returned type <class 'dict'>
{'a': 42}

In [57]:
def counter(func):
    def wrapper(*args, **kwargs):
        wrapper.count += 1
        # Call the function being decorated and return the result
        return wrapper.count
    wrapper.count = 0
      # Return the new decorated function
    return wrapper

In [58]:
# Decorate foo() with the counter() decorator
@counter
def foo():
  print('calling foo()')
  
foo()
foo()
foo()
print('foo() was called {} times.'.format(foo.count))

foo() was called 3 times.

### decorators with argument

In [59]:
def run_n_times(n):
    """Define and return a decorator"""
    def decorator(func):
        def wrapper(*args, **kwargs):
            for i in range(n):
                func(*args, **kwargs)
        return wrapper
    return decorator

In [57]:
# Make print_sum() run 10 times with the run_n_times() decorator
@run_n_times(10)
def print_sum(a, b):
    print(a + b)

print_sum(15, 20)

35
35
35
35
35
35
35
35
35
35

In [58]:
# Use run_n_times() to create the run_five_times() decorator
run_five_times = run_n_times(5)

@run_five_times
def print_sum(a, b):
    print(a + b)

print_sum(4, 100)

104
104
104
104
104

In [59]:
# Modify the print() function to always run 20 times
print = run_n_times(20)(print)

print('What is happening?!?!')

What is happening?!?!
What is happening?!?!
What is happening?!?!
What is happening?!?!
What is happening?!?!
What is happening?!?!
What is happening?!?!
What is happening?!?!
What is happening?!?!
What is happening?!?!
What is happening?!?!
What is happening?!?!
What is happening?!?!
What is happening?!?!
What is happening?!?!
What is happening?!?!
What is happening?!?!
What is happening?!?!
What is happening?!?!
What is happening?!?!

### Check the return type

In [ ]:
def returns_dict(func):
  # Complete the returns_dict() decorator
    def wrapper(*args, **kwargs):
        result = func(*args, **kwargs)
        assert(type(result) == dict)
        return result
      return wrapper

In [ ]:
@returns_dict
def foo(value):
    return value

In [ ]:
try:
    print(foo([1,2,3]))
except AssertionError:
    print('foo() did not return a dict!')

In [60]:
def returns(return_type):
    # Complete the returns() decorator
    def decorator(funct):
        def wrapper(*args, **kwargs):
            result = funct(*args, **kwargs)
            assert(type(result) == return_type)
            return result
        return wrapper
    return decorator

In [61]:
@returns(dict)
def foo(value):
    return value

In [62]:
try:
    print(foo([1,2,3]))
except AssertionError:
    print('foo() did not return a dict!')

foo() did not return a dict!
foo() did not return a dict!
foo() did not return a dict!
foo() did not return a dict!
foo() did not return a dict!
foo() did not return a dict!
foo() did not return a dict!
foo() did not return a dict!
foo() did not return a dict!
foo() did not return a dict!
foo() did not return a dict!
foo() did not return a dict!
foo() did not return a dict!
foo() did not return a dict!
foo() did not return a dict!
foo() did not return a dict!
foo() did not return a dict!
foo() did not return a dict!
foo() did not return a dict!
foo() did not return a dict!