# Visualization

In [2]:
import pandas as pd

In [3]:
import pickle
# Import matplotlib.pyplot with alias plt
import matplotlib.pyplot as plt

In [ ]:
## Which avocado size is most popular?
with open('avoplotto.pkl', 'rb') as f:
    avocados = pickle.load(f)

In [ ]:
# Look at the first few rows of data

In [ ]:
# Get the total number of avocados sold of each size

In [ ]:
# Create a bar plot of the number of avocados sold by size

# Show the plot

In [ ]:
## Changes in sales over time

# Get the total number of avocados sold on each date

In [ ]:
# Create a line plot of the number of avocados sold by date
plt.figure(figsize=(10,5))


# Show the plot

In [ ]:
# Scatter plot of nb_sold vs avg_price with title

# Show the plot
plt.show()

In [ ]:
# Histogram of conventional avg_price

In [ ]:
# Histogram of organic avg_price

In [ ]:
# Add a legend

# Show the plot
plt.show()

#### reading dataframes

In [ ]:
import pandas as pd

In [ ]:
# Create a list of dictionaries with new data
avocados_list = [
    {'date': "2019-11-03", 'small_sold': 10376832, 'large_sold':7835071},
    {'date': "2019-11-10", 'small_sold': 10717154, 'large_sold':8561348},
]

In [ ]:
# Convert list into DataFrame


# Print the new DataFrame
print(avocados_2019)

In [ ]:
# Create a dictionary of lists with new data
avocados_dict = {
  "date": ['2019-11-17','2019-12-01'],
  "small_sold": [10859987, 9291631],
  "large_sold": [7674135, 6238096]
}

In [ ]:
# Convert dictionary into DataFrame



# Print the new DataFrame
print(avocados_2019)

# Mearging DataFrames

## Preparing Data

In [ ]:
import pandas as pd

# Read 'Bronze.csv' into a DataFrame: bronze
bronze = pd.read_csv('Bronze.csv')
# Read 'Silver.csv' into a DataFrame: silver
silver = pd.read_csv('Silver.csv')
# Read 'Gold.csv' into a DataFrame: gold
gold = pd.read_csv('Gold.csv')

In [ ]:
# Print the first five rows of gold

In [ ]:
# Create the list of file names: filenames
filenames = ['Gold.csv', 'Silver.csv', 'Bronze.csv']

# Create the list of three DataFrames: dataframes (one line of code)

In [ ]:

# Print top 5 rows of 1st DataFrame in dataframes

In [ ]:
# Make a copy of gold: medals

In [ ]:
# Create list of new column labels: new_labels
new_labels = ['NOC', 'Country', 'Gold']
# Rename the columns of medals using new_labels

In [ ]:
# Add columns 'Silver' & 'Bronze' to medals
medals['Silver'] = silver['Total']
medals['Bronze'] = bronze['Total']

# Print the head of medals
print(medals.head())

In [ ]:
## Temperature DataFrame

In [ ]:
# Read 'monthly_max_temp.csv' into a DataFrame: weather1
weather1 = pd.read_csv('monthly_max_temp.csv', index_col = 'Month')

# Print the head of weather1

In [ ]:
# Sort the index of weather1 in alphabetical order: weather2


# Print the head of weather2

In [ ]:
# Sort the index of weather1 in reverse alphabetical order: weather3

# Print the head of weather3

In [ ]:
# Sort weather1 numerically using the values of 'Max TemperatureF': weather4

# Print the head of weather4

In [ ]:
## Babys' name DataFrame

reindex() and .dropna() methods 
to make a DataFrame common_names counting names 
from 1881 that were still popular in 1981.

In [1]:
## import data from names1981.csv without header, column names = 'name', gender, count, make the first two columns indices

NameError: name 'pd' is not defined

In [ ]:
## import data from names1881.csv without header, column names = 'name', gender, count, make the first two columns indices

In [ ]:
names_1981.head()

In [ ]:
names_1881.shape

In [ ]:
# Reindex names_1981 with index of names_1881: common_names


# Print shape of common_names

In [ ]:
# Drop rows with null counts: common_names

# Print shape of new common_names

In [ ]:
names_1881.index

In [ ]:
## Pittsburg westher DataFrame

In [ ]:
weather = pd.read_csv('pittsburgh2013.csv',index_col='Date', parse_dates=True)
## Precipitation from 2013-7-1 to 2013-7-7

In [ ]:
## Convert inches to centimeters

In [ ]:
## absolute temperature range from Min TemperatureF, Max TemperatureF from 2013-7-1 to 2013-7-7


print(week1_range)

In [ ]:
## average temperature from 2013-7-1 to 2013-7-7


print(week1_mean)

In [ ]:
## relative temperature range

In [ ]:
## relative temperature range

In [ ]:
## percent change

In [ ]:
bronze = pd.read_csv('bronze_top5.csv', index_col=0)
print(bronze)
silver = pd.read_csv('silver_top5.csv', index_col=0)
print(silver)
gold = pd.read_csv('gold_top5.csv', index_col=0)
print(gold)

In [ ]:
## add bronze and silver using '+' operator

In [ ]:
## add bronze and silver using .add function

In [ ]:
## add bronze and silver using .add function and fill NA values with 0

In [ ]:
## add bronze, silver, and gold using '+' operator

In [ ]:
## add bronze, silver, and gold using .add function, then fill NA values with 0

In [ ]:
## GDP

In [ ]:
# Read 'gdp_usa.csv' into a DataFrame: gdp (units: million dollars), use DATE as index

In [ ]:
gdp.head()

In [ ]:
# Slice all the gdp data from 2008 onward: post2008

In [ ]:
# Print the last 8 rows of post2008

In [ ]:
# Resample post2008 by year, keeping last(): yearly

In [ ]:
# Print yearly
print(yearly)

In [ ]:
# Compute percentage growth of yearly: yearly['growth']

In [ ]:
# Print yearly again
print(yearly)

In [21]:
# Read 'sp500.csv' into a DataFrame: sp500,  use Date as index

In [22]:
# Read 'exchange.csv' into a DataFrame: exchange, use Date as index

In [25]:
# Subset 'Open' & 'Close' columns from sp500: dollars

In [24]:
# Print the head of dollars
print(dollars.head())

                   Open        Close
Date
2015-01-02  2058.899902  2058.199951
2015-01-05  2054.439941  2020.579956
2015-01-06  2022.150024  2002.609985
2015-01-07  2005.550049  2025.900024
2015-01-08  2030.609985  2062.139893

In [ ]:
# Convert dollars to pounds: pounds, using 'GBP/USD'

In [ ]:
# Print the head of pounds
print(pounds.head())

## Concatenating data

In [ ]:
# Load 'sales-jan-2015.csv' into a DataFrame: jan
jan = pd.read_csv('sales-jan-2015.csv', index_col='Date', parse_dates=True)

# Load 'sales-feb-2015.csv' into a DataFrame: feb
feb = pd.read_csv('sales-feb-2015.csv', index_col='Date', parse_dates=True)

# Load 'sales-mar-2015.csv' into a DataFrame: mar
mar = pd.read_csv('sales-mar-2015.csv', index_col='Date', parse_dates=True)

In [ ]:
jan.head()

In [ ]:
# Extract the 'Units' column from jan: jan_units

# Extract the 'Units' column from feb: feb_units

# Extract the 'Units' column from mar: mar_units

In [ ]:
# Append feb_units and then mar_units to jan_units: quarter1

# Print the first slice from quarter1
print(quarter1.loc['jan 27, 2015':'feb 2, 2015'])

# Print the second slice from quarter1
print(quarter1.loc['feb 26, 2015':'mar 7, 2015'])

# Compute & print total sales in quarter1
print(quarter1.sum())

In [ ]:
# Initialize empty list: units
units = []

# Build the list of Series

In [ ]:
# Concatenate the list: quarter1

In [ ]:
## Can do the same thing

In [ ]:
units

In [ ]:
units2

In [ ]:
# Concatenate the list: quarter1, default axis = 'index' or 'rows'

In [ ]:
# Print slices from quarter1
print(quarter1.loc['jan 27, 2015':'feb 2, 2015'])
print(quarter1.loc['feb 26, 2015':'mar 7, 2015'])

In [ ]:
## Baby's name DataFrame

In [ ]:
names_1881 = pd.read_csv('names1881.csv',names=['name', 'gender','number'])
names_1981 = pd.read_csv('names1981.csv',names=['name', 'gender','number'])

In [ ]:
names_1881.head()

In [ ]:
# Add 'year' column to names_1881 and names_1981

In [ ]:
# Append names_1981 after names_1881 with ignore_index=True: combined_names

In [ ]:
# Print shapes of names_1981, names_1881, and combined_names

In [ ]:
combined_names.head()

In [ ]:
# Print all rows that contain the name 'Morgan'

In [26]:
## Medals DataFrame

In [ ]:
#Initialize an empty list: medals
medals =[]
medal_types = ['gold','silver','bronze']
for medal in medal_types:
    # Create the file name: file_name

    # Create list of column names: columns

    # Read file_name into a DataFrame: medal_df

    # Append medal_df to medals

# Concatenate medals horizontally: medals_df



# Print medals_df
print(medals_df)

In [ ]:
for medal in medal_types:

    file_name = "%s_top5.csv" % medal
    
    # Read file_name into a DataFrame: medal_df

    
    # Append medal_df to medals

    
# Concatenate medals: medals


# Print medals in entirety
print(medals)

In [ ]:
medals.head(10)

In [ ]:
# Sort the entries of medals: medals_sorted

In [ ]:
# Print the number of Bronze medals won by Germany

In [ ]:
# Print data about silver medals

In [ ]:
# Create alias for pd.IndexSlice: idx

In [ ]:
# Print all the data on medals won by the United Kingdom

In [ ]:
## Sales DataFrame

In [ ]:
# Make the list of tuples: month_list

In [ ]:
# Create an empty dictionary: month_dict
month_dict = {}

In [ ]:
for month_name, month_data in month_list:
    # Group month_data: month_dict[month_name]

In [ ]:
# Concatenate data in month_dict: sales

In [ ]:
# Print sales
print(sales)

In [ ]:
# Print all sales by Mediacore

In [ ]:
## Concatenating DataFrames with inner join

In [ ]:
# Create the list of DataFrames: medal_list
medal_list = [bronze, silver, gold]

In [ ]:
# Concatenate medal_list horizontally using an inner join: medals
medals = pd.concat(_____, axis=__, keys = ______, join=____)

# Print medals
print(medals)

In [124]:
## read gdp_china.csv

In [127]:
## read gdp_china.csv

In [ ]:
# Resample and tidy china: china_annual,yearly resample with taking the last, chain the percent change, and drop NA
china_annual = china.____('A').___().____(10).___()

In [ ]:
# Resample and tidy us: us_annual

In [ ]:
# Concatenate china_annual and us_annual: gdp

In [ ]:
# Resample gdp and print
print(gdp.resample('10A').last())

## Merging data

In [ ]:
revenue = pd.read_csv('revenue.csv')
managers = pd.read_csv('managers.csv')

In [ ]:
# Merge revenue with managers on 'city': merge_by_city


# Print merge_by_city
print(merge_by_city)

In [ ]:
# Merge revenue with managers on 'branch_id': merge_by_id


# Print merge_by_id
print(merge_by_id)

In [5]:
managers = pd.read_csv('managers_b.csv')

In [ ]:
# Merge revenue & managers on 'city' & 'branch': combined


# Print combined
print(combined)

In [114]:
## merging multiple columns

In [118]:
managers = pd.read_csv('managers.csv')

In [ ]:
# Add 'state' column to revenue: revenue['state']
revenue['state'] = ['TX', 'CO','IL','CA']

# Add 'state' column to managers: managers['state']
managers['state'] = ['TX', 'CO', 'CA', 'MO']

In [ ]:
# Merge revenue & managers on 'branch_id', 'city', & 'state': combined


# Print combined
print(combined)

In [ ]:
#### Medal DataFrame

In [ ]:
bronze = pd.read_csv('bronze_top5.csv')
gold = pd.read_csv('gold_top5.csv')

In [ ]:
print(bronze)
print(gold)

In [ ]:
## Using suffixes, inner join on 'NOC','Country'

In [ ]:
## Using suffixes, left join on 'NOC','Country'

In [ ]:
## Using suffixes, right join on 'NOC','Country'

### Population & unemployment data

- two 5 row DF, indexed by Zip Code
- population
- unemployment
- only common row label is 2860

In [ ]:
population = pd.read_csv('population_00.csv', index_col=0)
unemployment = pd.read_csv('unemployment_00.csv', index_col=0)

print(population)
print()
print(unemployment)

### Using .join(how=‘left’)
- computes a left join using the Index by default
- only the row 2860 is complete

- 2860 row is preserved againg, but the other rows are extrated from the right `unemployment` DF with the left `population` DF values set to Nan

### Using .join(how=‘right’)

### Using .join(how=‘inner’)

### Using .join(how=‘outer’)

`how='outer'` sorts the combined index

In [ ]:
population.join(unemployment, how='outer')

### Which should you use?
- `df1.append(df2)`: stacking vertically
- `pd.concat([df1, df2])`:
    - stacking many horizontally or vertically
    - simple inner/outer joins on Indexes
- `df1.join(df2)`: inner/outer/le!/right joins on Indexes
- `pd.merge([df1, df2])`: many joins on multiple columns

# Data Cleaning

In [ ]:
ride_sharing = pd.read_csv('ride_sharing_new.csv')

In [ ]:
# Print the information of ride_sharing

In [ ]:
# Print summary statistics of user_type column

In [ ]:
# Convert user_type from integer to category

In [ ]:
# Write an assert statement confirming the change

In [ ]:
# Print new summary statistics

In [ ]:
# Strip duration of minutes

In [ ]:
# Convert duration to integer

In [ ]:
# Write an assert statement making sure of conversion

In [ ]:
# Print formed columns and calculate average ride duration

In [ ]:
ride_sharing['user_birth_year']

### Finding consistency

In [ ]:
airlines = pd.read_csv('airlines_final.csv')
categories = pd.read_csv('categories.csv')

In [ ]:
airlines.head()

In [ ]:
# Print categories DataFrame
print(categories)

# Print unique values of survey columns in airlines
print('Cleanliness: ', airlines['cleanliness'].unique(), "\n")
print('Safety: ', airlines['safety'].unique(), "\n")
print('Satisfaction: ', airlines['satisfaction'].unique(), "\n")

In [ ]:
# Find the cleanliness category in airlines not in categories

In [ ]:
# Find rows with that category

In [ ]:
# Print rows with inconsistent category

In [ ]:
# Print rows with consistent categories only

In [ ]:
# Print unique values of both columns

In [ ]:
# Lower dest_region column and then replace "eur" with "europe"

In [ ]:
# Remove white spaces from `dest_size`

In [ ]:
# Verify changes have been effected
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

In [ ]:
# Create ranges for categories
label_ranges = [0, 60, 180, np.inf]
label_names = ['short', 'medium', 'long']

In [ ]:
# Create wait_type column
airlines['wait_type'] = pd.cut(airlines['wait_min'], bins = ______, 
                                labels = ______)

In [ ]:
# Create mappings 
mappings = {'Monday':'weekday', 'Tuesday':'weekday', 'Wednesday': 'weekday', 
            'Thursday': 'weekday', 'Friday': 'weekday', 
            'Saturday': 'weekend', 'Sunday': 'weekend'}

In [ ]:
## Then replace the values using mappings
airlines['day_week'] = airlines['day'].______(______)

In [ ]:
## Use assert to check the changes